<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<div class="ui-grid ui-grid-responsive ui-fluid">
		<p-fieldset legend="Search Criteria">
			<div class="ui-grid-row">
				<div class="ui-grid-col-1 ui-sm-24">
					<div class="form-group">
						<label for="admissionId">{{ 'COMMON.ADMISSION_NUMBER' | translate }}</label> 
						<input type="text" pInputText class="form-control" id="admissionId" size="10"
							[(ngModel)]="searchCriteria.admissionId" name="admissionId" >
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="admissionDate">{{ 'COMMON.ADMISSION_DATE' | translate }}</label> 
						<p-calendar [(ngModel)]="searchCriteria.admissionDate" id="admissionDate"
									name="admissionDate" #admissionDate="ngModel"></p-calendar>
					</div>
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
					<div class="form-group">
						<label for="patientId">{{ 'COMMON.PATIENT_ID' | translate }}:</label> 
						<input type="text" pInputText class="form-control" id="medicalRecordNumber"
							 [(ngModel)]="searchCriteria.medicalRecordNumber" name="medicalRecordNumber" >
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="lastName">{{ 'COMMON.LAST_NAME' | translate }}:</label> 
						<input type="text" pInputText class="form-control" id="lastName"
							 [(ngModel)]="searchCriteria.lastName" name="lastName" >
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="firstName">{{ 'COMMON.FIRST_NAME' | translate }}:</label> 
						<input type="text" pInputText class="form-control" id="firstName"
							 [(ngModel)]="searchCriteria.firstName" name="firstName">
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="birthDate">{{ 'COMMON.BIRTH_DATE' | translate }}:</label> 
						<p-calendar [(ngModel)]="searchCriteria.birthDate" id="birthDate"
									name="birthDate" #birthDate="ngModel"></p-calendar>
					</div>
				</div>
			</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-1 ui-sm-12">
				<button pButton icon="fa fa-search" label="{{ 'COMMON.SEARCH' | translate }}" (click)="search()"></button>
			</div>
		</div>
		</p-fieldset>
		<br/>
		<br/>
		<p-table [columns]="cols" [value]="admissions">
			<ng-template pTemplate="caption">
				{{ 'COMMON.ADMISSION_LIST' | translate }}
			</ng-template>
		    <ng-template pTemplate="header" let-columns>
		        <tr>
		            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
		                {{col.header}}
		                <p-sortIcon [field]="col.field"></p-sortIcon>
		            </th>
		            <th>Action</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-rowData let-columns="columns">
		        <tr>			           
		            <td *ngFor="let col of columns">
		                <div *ngIf="col.type != 'date'">
		                	{{rowData[col.field]}}
		                </div>
		                <div *ngIf="col.type == 'date'">
		                	{{rowData[col.field]  | date:'dd/MM/yyyy hh:mm'}}
		                </div>
		            </td>
		            <td>
		            	<button type="button" pButton icon="fa fa-edit" (click)="edit(rowData.id)"></button>&nbsp;&nbsp;
						<button type="button" pButton icon="fa fa-eraser" (click)="delete(rowData.id)"></button>
		            </td>
		        </tr>
		    </ng-template>
		</p-table>
	</div>
</div>
 
