<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg">
	</section>

		<div class="container" style="padding-left: 10px; max-width: 100%;">
	
	<div class="ui-grid-row">
		<div class="ui-g-2 ui-sm-4">
			<app-admin-menu></app-admin-menu>
		</div>
		<div class="ui-g-10 ui-sm-8" style="padding: 15px;">
			
			<p-tabView (onChange)="onTabChange($event)"> 
			 	<p-tabPanel header="Symptom Group">
			    	<div *ngIf="activeTab == 0">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Category')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Symptom">
			    	<div *ngIf="activeTab == 1">
				        <app-referenceWithCategory-details></app-referenceWithCategory-details>
				        <br/> 
				        <br/>
				        <app-referenceWithCategory-list (referenceWithCategoryIdEvent)="onReferenceWithCategorySelected($event, 'Symptom')"></app-referenceWithCategory-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Allergy Type">
			    	<div *ngIf="activeTab == 2">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Category')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Allergy">
			    	<div *ngIf="activeTab == 3">
				        <app-referenceWithCategory-details></app-referenceWithCategory-details>
				        <br/> 
				        <br/>
				        <app-referenceWithCategory-list (referenceWithCategoryIdEvent)="onReferenceWithCategorySelected($event, 'Allergy')"></app-referenceWithCategory-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Vaccine">
			    	<div *ngIf="activeTab == 4">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Vaccine')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Medical History">
			    	<div *ngIf="activeTab == 5">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'MedicalHistory')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Social History">
			    	<div *ngIf="activeTab == 6">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'SocialHistory')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Payer Type">
			    	<div *ngIf="activeTab == 7">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'PayerType')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Doctor Order Type">
			    	<div *ngIf="activeTab == 8">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'DoctorOrderType')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Doctor Order Priority">
			    	<div *ngIf="activeTab == 9">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'DoctorOrderPriority')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Doctor Order Kind">
			    	<div *ngIf="activeTab == 10">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'DoctorOrderKind')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="department" header="Department">
			    	<div *ngIf="activeTab == 11">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Department')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="manufacturer" header="Manufacturer">
			    	<div *ngIf="activeTab == 12">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Manufacturer')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="medicineType" header="Medicine Type">
			    	<div *ngIf="activeTab == 13">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Category')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="medicine" header="Medicine">
			    	<div *ngIf="activeTab == 14">
				        <app-medicine-details></app-medicine-details>
				        <br/> 
				        <br/>
				        <app-medicine-list (medicineIdEvent)="onMedicineSelected($event)"></app-medicine-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="serviceTarifType" header="Service Department/Tarif">
			    	<div *ngIf="activeTab == 15">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Category')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="labTestMethod" header="Lab Test Method">
			    	<div *ngIf="activeTab == 16">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'LabTestMethod')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="labTestUnit" header="Lab Test Unit">
			    	<div *ngIf="activeTab == 17">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'LabTestUnit')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="labTest" header="Lab Test">
			    	<div *ngIf="activeTab == 18">
				        <app-labTest-details></app-labTest-details>
				        <br/> 
				        <br/>
				        <app-labTest-list (labTestIdEvent)="onLabTestSelected($event)"></app-labTest-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel id="supplier" header="Supplier">
			    	<div *ngIf="activeTab == 19">
				        <app-supplier-details></app-supplier-details>
				        <br/> 
				        <br/>
				        <app-supplier-list (supplierIdEvent)="onSupplierSelected($event)"></app-supplier-list>
				    </div>
			    </p-tabPanel>
			</p-tabView>
		</div>

	</div>
</div>
