<div class="ui-grid-row">
	<div class="ui-grid-col-12 ui-sm-12">
		<button type="button" pButton icon="fa fa-plus" (click)="addNew()"></button>&nbsp;&nbsp;
	</div>
</div>
<div class="ui-grid-row">
	<div class="ui-grid-col-12 ui-sm-12">
		<p-messages [(value)]="messages"></p-messages>
		<p-table [columns]="diagnosisCols" [value]="admissionDiagnoses">
		<ng-template pTemplate="caption">
	        {{ 'COMMON.DIAGNOSIS_LIST' | translate }}
	    </ng-template>
		    <ng-template pTemplate="header" let-diagnosisCols>
		        <tr>
		            <th *ngFor="let col of diagnosisCols" [pSortableColumn]="col.field">
		                {{col.header}}
		                <p-sortIcon [field]="col.field"></p-sortIcon>
		            </th>
		            <th>Action</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-rowData let-columns="columns">
		        <tr>			           
		            <td *ngFor="let col of columns" pEditableColumn>
		            	<p-cellEditor *ngIf="col.field != 'name' && col.field != 'description'">
		                    <ng-template pTemplate="input">
		                        <input type="text" [(ngModel)]="rowData[col.field]">
		                    </ng-template>
		                    <ng-template pTemplate="output">
		                        {{rowData[col.field]}}
		                    </ng-template>
		                </p-cellEditor>
		                <p-cellEditor *ngIf="col.field == 'description'">
		                	<ng-template pTemplate="input">
		                        {{rowData[col.parent][col.field]}}
		                    </ng-template>
		                    <ng-template pTemplate="output">
		                        {{rowData[col.parent][col.field]}}
		                    </ng-template>
		                </p-cellEditor>
		                <p-cellEditor *ngIf="col.field == 'name'">
		                    <ng-template pTemplate="input">
		                        <p-autoComplete [(ngModel)]="rowData['diagnosis']"
									(onDropdownClick)="diagnosisDropdown.handleDropdownClick($event)"
									[suggestions]="diagnosisDropdown.filteredDiagnoses" [dropdown]="true"
									(completeMethod)="diagnosisDropdown.filter($event)"
									name="name" field="name" [size]="30" placeholder=""
									[minLength]="1">
								</p-autoComplete>
		                    </ng-template>
		                    <ng-template pTemplate="output">
		                        {{rowData[col.parent][col.field]}}
		                    </ng-template>
		                </p-cellEditor>
		            </td>
		            <td>
		            	<button type="button" pButton icon="fa fa-save" (click)="saveDiagnosis(rowData)"></button>&nbsp;&nbsp;
						<button type="button" pButton icon="fa fa-eraser" (click)="remove()"></button>
		            </td>
		        </tr>
		    </ng-template>
		</p-table>
	</div>
</div>