<div class="ui-grid-row"> 
		<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
			
			<p-tabView (onChange)="onTabChange($event)"> 
			 	<p-tabPanel header="Ward">
			    	<div *ngIf="activeTab == 0">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Ward')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Bed Category">
			    	<div *ngIf="activeTab == 1">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Category')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Building">
			    	<div *ngIf="activeTab == 2">
				        <app-reference-details></app-reference-details>
				        <br/> 
				        <br/>
				        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'Building')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Floor">
			    	<div *ngIf="activeTab == 3">
				        <app-floor-details></app-floor-details>
				        <br/> 
				        <br/>
				        <app-floor-list (floorIdEvent)="onFloorSelected($event)"></app-floor-list>
				    </div>
			    </p-tabPanel>
			     <p-tabPanel header="Room">
			    	<div *ngIf="activeTab == 4">
				        <app-room-details></app-room-details>
				        <br/> 
				        <br/>
				        <app-room-list (roomIdEvent)="onRoomSelected($event)"></app-room-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="Bed">
			    	<div *ngIf="activeTab == 5">
				        <app-bed-details></app-bed-details>
				        <br/> 
				        <br/>
				        <app-bed-list (bedIdEvent)="onBedSelected($event)"></app-bed-list>
				    </div>
			    </p-tabPanel>
			</p-tabView>
		</div>

	</div>
 
