
<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-tabView (onChange)="onTabChange($event)"> 
	    <p-tabPanel header="Detail">
		    <div *ngIf="activeTab == 0">
		    	<app-patient-details></app-patient-details>
		    </div>
	    </p-tabPanel>
	    <p-tabPanel header="Appointment" *ngIf="patient.id > 0">
	    	<div *ngIf="activeTab == 1">
		        <app-appointment-details></app-appointment-details>
		        <br/>
		        <br/>
		        <app-appointment-list (appointmentIdEvent)="onAppointmentSelected($event)"></app-appointment-list>
		    </div>
	    </p-tabPanel>
	    <p-tabPanel header="Visit" *ngIf="patient.id > 0"> 
	        Content 3    
	    </p-tabPanel>
	     <p-tabPanel header="Diagnosis" *ngIf="patient.id > 0">
	        Content 3    
	    </p-tabPanel>
	    <p-tabPanel header="Medications" *ngIf="patient.id > 0">
	        Content 3    
	    </p-tabPanel>
	    <p-tabPanel header="Result/Review" *ngIf="patient.id > 0">
	        Content 3    
	    </p-tabPanel>
	</p-tabView>
</div>

	