<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="bed">
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="name">Name</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<input pInputText id="name" [(ngModel)]="bed.bedNumber" required />
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
			<div class="ui-grid-col-8 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="description">Description</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<textarea pInputTextarea id="description"
							[(ngModel)]="bed.description"> </textarea>
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
		</div>

		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label i18n="@@building" for="building">Building</label>
					</div>
					<div class="ui-grid-col-9 ui-sm-12">
						<p-autoComplete [(ngModel)]="bed.room.floor.building"
							(ngModelChange)="populateFloorDropdown($event)"
							(onDropdownClick)="buildingDropdown.handleDropdownClick($event)"
							[suggestions]="buildingDropdown.filteredBuildings"
							[dropdown]="true"
							(completeMethod)="buildingDropdown.filter($event)" name="name"
							field="name" [size]="30" placeholder="" [minLength]="1">
						</p-autoComplete>
					</div> 
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label i18n="@@floor" for="floor">Floor</label>
					</div>
					<div class="ui-grid-col-9 ui-sm-12">
						<p-autoComplete [(ngModel)]="bed.room.floor"
							(ngModelChange)="populateRoomDropdown($event)"
							(onDropdownClick)="floorDropdown.handleDropdownClick($event)"
							[suggestions]="floorDropdown.filteredFloors" [dropdown]="true"
							(completeMethod)="floorDropdown.filter($event)" name="name"
							field="name" [size]="30" placeholder="" [minLength]="1">
						</p-autoComplete>
					</div> 
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label i18n="@@room" for="room">Room</label>
					</div>
					<div class="ui-grid-col-9 ui-sm-12">
						<p-autoComplete [(ngModel)]="bed.room"
							(onDropdownClick)="roomDropdown.handleDropdownClick($event)"
							[suggestions]="roomDropdown.filteredRooms" [dropdown]="true"
							(completeMethod)="roomDropdown.filter($event)" name="name"
							field="name" [size]="30" placeholder="" [minLength]="1">
						</p-autoComplete>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label i18n="@@category" for="category">Category<font
							color="red">*</font></label>
					</div>
					<div class="ui-grid-col-9 ui-sm-12">
						<p-autoComplete [(ngModel)]="bed.category"
							(onDropdownClick)="categoryDropdown.handleDropdownClick($event)"
							[suggestions]="categoryDropdown.filteredCategories"
							[dropdown]="true" id="medicine"
							(completeMethod)="categoryDropdown.filter($event)"
							name="medicine" field="name" [size]="30" placeholder=""
							[minLength]="1"></p-autoComplete>
					</div> 
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<p-radioButton name="status" value="0" label="Actif"
					[(ngModel)]="bed.status"></p-radioButton>
				<p-radioButton name="status" value="1" label="Inactif"
					[(ngModel)]="bed.status"></p-radioButton>

			</div>
		</div>
	</div>
	<br />
	<div *ngIf="error" class="alert alert-danger">{{error}}</div>
	 
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa fa-close" (click)="clear()"
				label="Clear"></button>
			&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-close" (click)="delete()"
				label="Supprimer"></button>
			&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-check" (click)="save()"
				label="Sauvegarder"></button>
		</div>
 
</div>

