<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-table [value]="beds" [responsive]="true"> <ng-template
		pTemplate="header">
	<tr>
		<th *ngFor="let col of cols" [pSortableColumn]="col.field">
			{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
		</th>
		<th>Action</th>
	</tr>
	</ng-template> <ng-template pTemplate="body" let-bed>
	<tr>
		<td *ngFor="let col of cols">{{bed[col.field]}}</td>
		<td>
			<button type="button" pButton icon="fa fa-edit" 
				(click)="edit(bed.id)"></button>&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-eraser" 
				(click)="delete(bed.id)"></button>
		</td>
	</tr>
	</ng-template> </p-table>
</div>
