<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="admission">
	<p-messages [(value)]="messages"></p-messages>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="admissionNumber">{{ 'COMMON.ADMISSION_NUMBER' | translate }}</label>
				</div>
				<div class="ui-grid-col-8 ui-sm-12">
					<input type="text" pInputText class="form-control" id="admissionNumber" (change)="lookUpPatientAdmission()"
					[(ngModel)]="admission.admissionNumber" name="admissionNumber" #admissionNumber="ngModel">
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="admissionId">{{ 'COMMON.ADMISSION_NUMBER' | translate }}</label>
				</div>
				<div class="ui-grid-col-8 ui-sm-12">
					{{admission.admissionNumber}}
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
		</div>
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="admissionDate">{{ 'COMMON.ADMISSION_DATETIME' | translate }}<font color="red">*</font></label> 
				</div>
				<div class="ui-grid-col-8 ui-sm-12">
					{{admission.admissionDatetime  | date:'dd/MM/yyyy'}}
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
		</div>
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="patientId">{{ 'COMMON.PATIENT_ID' | translate }}</label> 
				</div>
				<div class="ui-grid-col-8 ui-sm-12">
					{{admission.patient.id}}
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="patientName">{{ 'COMMON.PATIENT_NAME' | translate }}</label>
				</div>
				<div class="ui-grid-col-8 ui-sm-12">
					{{admission.patient.name}}
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
		</div>
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="patientBirthDate">{{ 'COMMON.BIRTH_DATE' | translate }}: </label>
				</div>
				<div class="ui-grid-col-8 ui-sm-12">
					{{admission.patient.user.birthDate | date:'dd/MM/yyyy'}}
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>				
		</div>
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="patientSex">{{ 'COMMON.GENDER' | translate }}</label>
				</div>
				<div class="ui-grid-col-8 ui-sm-12">
					{{admission.patient.user.sex}}
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
		</div>
	</div>
</div>	

<br/>
<p-tabView> 
 	<p-tabPanel header="{{ 'COMMON.ADMISSION_DETAILS' | translate }}">
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="building">{{ 'COMMON.BUILDING' | translate }}</label>
					</div> 
					<div class="ui-grid-col-8 ui-sm-12">
						{{admission.bedAssignment.bed.room.floor.building.name}}
					</div>
					<div class="ui-grid-col-1 ui-sm-12">
					</div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="floor">{{ 'COMMON.FLOOR' | translate }}</label>
					</div> 
					<div class="ui-grid-col-8 ui-sm-12">
						{{admission.bedAssignment.bed.room.floor.name}}
					</div>
					<div class="ui-grid-col-1 ui-sm-12">
					</div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="room">{{ 'COMMON.ROOM' | translate }}</label>
					</div> 
					<div class="ui-grid-col-8 ui-sm-12">
						{{admission.bedAssignment.bed.room.name}}
					</div>
					<div class="ui-grid-col-1 ui-sm-12">
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="category">{{ 'COMMON.CATEGORY' | translate }}</label> 
					</div> 
					<div class="ui-grid-col-8 ui-sm-12">
						{{admission.bedAssignment.bed.category.name}}
					</div>
					<div class="ui-grid-col-1 ui-sm-12"> 
					</div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="bed">{{ 'COMMON.BED' | translate }}</label>
					</div> 
					<div class="ui-grid-col-8 ui-sm-12">
						{{admission.bedAssignment.bed.bedNumber}}
					</div>
					<div class="ui-grid-col-1 ui-sm-12">
					</div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="doctor">{{ 'COMMON.DOCTOR' | translate }}</label>
					</div> 
					<div class="ui-grid-col-8 ui-sm-12">
						{{admission.doctorAssignment.doctor.name}}
					</div>
					<div class="ui-grid-col-1 ui-sm-12">
					</div>
				</div>
			</div>
		</div>
	</p-tabPanel>
</p-tabView>

<p-tabView> 
 	<p-tabPanel header="Bed Transfer" *ngIf="transferType == 'BED'">
 		<div class="ui-grid ui-grid-responsive ui-fluid">
	 		<div class="ui-grid-row">
	 			<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="assignmentDate">{{ 'COMMON.TRANSFER_DATETIME' | translate }}<font color="red">*</font></label> 
						<p-calendar [(ngModel)]="admission.bedAssignment.transferDate" [showTime]="true"></p-calendar>
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="building">{{ 'COMMON.BUILDING' | translate }}</label> 
						<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.room.floor.building" 
							(ngModelChange)="populateFloorDropdown($event)"
							(onDropdownClick)="buildingDropdown.handleDropdownClick($event)"
							[suggestions]="buildingDropdown.filteredBuildings" [dropdown]="true"
							(completeMethod)="buildingDropdown.filter($event)"
							name="name" field="name" [size]="30" placeholder=""
							[minLength]="1">
						</p-autoComplete> 
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="floor">{{ 'COMMON.FLOOR' | translate }}</label> 
						<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.room.floor" 
							(ngModelChange)="populateRoomDropdown($event)"
							(onDropdownClick)="floorDropdown.handleDropdownClick($event)"
							[suggestions]="floorDropdown.filteredFloors" [dropdown]="true"
							(completeMethod)="floorDropdown.filter($event)"
							name="name" field="name" [size]="30" placeholder=""
							[minLength]="1">
						</p-autoComplete> 
					</div>
				</div>
			</div>
			<br/>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="room">{{ 'COMMON.ROOM' | translate }}</label> 
						<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.room"
							(ngModelChange)="populateBedDropdown($event)"
							(onDropdownClick)="roomDropdown.handleDropdownClick($event)"
							[suggestions]="roomDropdown.filteredRooms" [dropdown]="true"
							(completeMethod)="roomDropdown.filter($event)"
							name="name" field="name" [size]="30" placeholder=""
							[minLength]="1">
						</p-autoComplete> 
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="category">{{ 'COMMON.CATEGORY' | translate }}<font color="red">*</font></label> 
						<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.category"
							(ngModelChange)="populateBedDropdown($event)"
							(onDropdownClick)="categoryDropdown.handleDropdownClick($event)"
							[suggestions]="categoryDropdown.filteredCategories" [dropdown]="true"
							id="medicine" (completeMethod)="categoryDropdown.filter($event)"
							name="medicine" field="name" [size]="30" placeholder=""
							[minLength]="1">
						</p-autoComplete>								 
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12"> 
					<div class="form-group">
						<label for="bed">{{ 'COMMON.BED' | translate }}</label> 
						<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed"
							(onDropdownClick)="bedDropdown.handleDropdownClick($event)"
							[suggestions]="bedDropdown.filteredBeds" [dropdown]="true"
							(completeMethod)="bedDropdown.filter($event)"
							name="name" field="bedNumber" [size]="30" placeholder=""
							[minLength]="1">
						</p-autoComplete> 
					</div>
				</div>
				 
			</div>
		</div>
 	</p-tabPanel>
 	<p-tabPanel header="Doctor Transfer" *ngIf="transferType == 'DOCTOR'">
	 	<div class="ui-grid ui-grid-responsive ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12"> 
					<div class="form-group">
						<label for="assignmentDate">{{ 'COMMON.TRANSFER_DATE' | translate }}<font color="red">*</font></label> 
						<p-calendar [(ngModel)]="admission.doctorAssignment.transferDate" [showTime]="true"></p-calendar>
					</div>
				</div>
				<div class="ui-grid-col-3 ui-sm-12">
					<div class="form-group">
						<label for="doctor">{{ 'COMMON.DOCTOR' | translate }}</label> 
						<p-autoComplete [(ngModel)]="admission.doctorAssignment.transferDoctor"
							(onDropdownClick)="doctorDropdown.handleDropdownClick($event)"
							[suggestions]="doctorDropdown.filteredDoctors" [dropdown]="true"
							(completeMethod)="doctorDropdown.filter($event)"
							name="name" field="name" [size]="30" placeholder=""
							[minLength]="1">
						</p-autoComplete> 
					</div>
				</div>
			</div>
		</div>
	</p-tabPanel>
	<br/>
	<br/>
	
	<button type="button" pButton icon="fa fa-close" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>&nbsp;
	<button type="button" pButton icon="fa fa-check" (click)="transfer()" label="{{ 'COMMON.SAVE' | translate }}"></button>
		
	
 </p-tabView>
