<div class="ui-grid-row"> 
		<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
			<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="admission">
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@admissionNumber" for="admissionNumber">Admission No.</label>
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								<input type="text" pInputText class="form-control" id="admissionNumber" (change)="lookUpPatientAdmission()"
								[(ngModel)]="admission.admissionNumber" name="admissionNumber" #admissionNumber="ngModel">
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@admissionId" for="admissionId">Admission No.</label>
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								{{admission.admissionNumber}}
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@admissionDate" for="admissionDate">Adm. Date Time<font color="red">*</font></label> 
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								{{admission.admissionDatetime  | date:'dd/MM/yyyy'}}
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@patientMatricule" for="patientMatricule">Patient Number</label> 
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								{{admission.patient.matricule}}
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@patientName" for="patientName">Patient Name</label>
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								{{admission.patient.name}}
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@patientBirthDate" for="patientBirthDate">Birth Date: </label>
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								{{admission.patient.user.birthDate | date:'dd/MM/yyyy'}}
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>				
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@patientSex" for="patientSex">Gender</label>
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								{{admission.patient.user.sex}}
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<br/>
			<p-tabView> 
			 	<p-tabPanel header="Admission Details">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@building" for="building">Building</label>
								</div> 
								<div class="ui-grid-col-8 ui-sm-12">
									{{admission.bedAssignment.bed.room.floor.building.name}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@floor" for="floor">Floor</label>
								</div> 
								<div class="ui-grid-col-8 ui-sm-12">
									{{admission.bedAssignment.bed.room.floor.name}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@room" for="room">Room</label>
								</div> 
								<div class="ui-grid-col-8 ui-sm-12">
									{{admission.bedAssignment.bed.room.name}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@category" for="category">Bed Category<font color="red">*</font></label> 
								</div> 
								<div class="ui-grid-col-8 ui-sm-12">
									{{admission.bedAssignment.bed.category.name}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12"> 
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@bed" for="bed">Bed Number</label>
								</div> 
								<div class="ui-grid-col-8 ui-sm-12">
									{{admission.bedAssignment.bed.bedNumber}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@doctor" for="doctor">Doctor</label>
								</div> 
								<div class="ui-grid-col-8 ui-sm-12">
									{{admission.doctorAssignment.doctor.name}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
					</div>
				</p-tabPanel>
			</p-tabView>

			<p-tabView> 
			 	<p-tabPanel header="Bed Transfer">
			 		<div class="ui-grid-row">
			 			<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@assignmentDate" for="assignmentDate">Transfer Date<font color="red">*</font></label> 
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									<p-calendar [(ngModel)]="admission.bedAssignment.transferDate" [showTime]="true"></p-calendar>
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
								<div class="form-group">
									<label i18n="@@building" for="building">Building</label> 
									<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.room.floor.building" 
										(ngModelChange)="populateFloorDropdown($event)"
										(onDropdownClick)="buildingDropdown.handleDropdownClick($event)"
										[suggestions]="buildingDropdown.filteredBuildings" [dropdown]="true"
										(completeMethod)="buildingDropdown.filter($event)"
										name="name" field="name" [size]="30" placeholder=""
										[minLength]="1">
									</p-autoComplete> 
							 
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="form-group">
									<label i18n="@@floor" for="floor">Floor</label> 
									<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.room.floor" 
										(ngModelChange)="populateRoomDropdown($event)"
										(onDropdownClick)="floorDropdown.handleDropdownClick($event)"
										[suggestions]="floorDropdown.filteredFloors" [dropdown]="true"
										(completeMethod)="floorDropdown.filter($event)"
										name="name" field="name" [size]="30" placeholder=""
										[minLength]="1">
									</p-autoComplete> 
							</div>
						</div>
					</div>
					<br/>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="form-group">
									<label i18n="@@room" for="room">Room</label> 
									<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.room"
										(ngModelChange)="populateBedDropdown($event)"
										(onDropdownClick)="roomDropdown.handleDropdownClick($event)"
										[suggestions]="roomDropdown.filteredRooms" [dropdown]="true"
										(completeMethod)="roomDropdown.filter($event)"
										name="name" field="name" [size]="30" placeholder=""
										[minLength]="1">
									</p-autoComplete> 
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="form-group">
									<label i18n="@@category" for="category">Category<font color="red">*</font></label> 
								 
									<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed.category"
										(ngModelChange)="populateBedDropdown($event)"
										(onDropdownClick)="categoryDropdown.handleDropdownClick($event)"
										[suggestions]="categoryDropdown.filteredCategories" [dropdown]="true"
										id="medicine" (completeMethod)="categoryDropdown.filter($event)"
										name="medicine" field="name" [size]="30" placeholder=""
										[minLength]="1"></p-autoComplete>								 
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12"> 
							<div class="form-group">
									<label i18n="@@bed" for="bed">Bed</label> 
									<p-autoComplete [(ngModel)]="admission.bedAssignment.transferBed"
										(onDropdownClick)="bedDropdown.handleDropdownClick($event)"
										[suggestions]="bedDropdown.filteredBeds" [dropdown]="true"
										(completeMethod)="bedDropdown.filter($event)"
										name="name" field="bedNumber" [size]="30" placeholder=""
										[minLength]="1">
									</p-autoComplete> 
							</div>
						</div>
					</div>
			 	</p-tabPanel>
			 </p-tabView>
			<br/>
			<br />
			
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton icon="fa fa-close" (click)="delete()"
						label="Supprimer"></button>&nbsp;
					<button type="button" pButton icon="fa fa-check" (click)="transfer()"
						label="Sauvegarder"></button>
				</div>
			</div>
		</div>
	</div>
 