<form name="form" (ngSubmit)="f.form.valid && validate() && save()" #f="ngForm" validate>
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="bill">
			<p-messages [(value)]="messages"></p-messages>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5 ui-sm-12">
					<app-visitAdm-lookup (visitEmit)="lookUpVisit($event)" (admissionEmit)="lookUpAdmission($event)" 
						[originalPage]="'admin/billDetails'" [visit]="visit"></app-visitAdm-lookup>
					<p-message *ngIf="f.submitted && !((visit && visit.id > 0) || (admission && admission.id > 0))" severity="error" text="Visit is required"></p-message>
				</div>
				<div class="ui-grid-col-7 ui-sm-12">
					<div class="ui-grid-col-3 ui-sm-12">
						<div class="form-group">
							<label i18n="@@billDate" for="billDate">Statement Date<font color="red">*</font></label> 
							<p-calendar [(ngModel)]="bill.billDate" name="billDate"  #billDate="ngModel" required></p-calendar>
							<p-message *ngIf="f.submitted && billDate.invalid" severity="error" text="Field is required"></p-message>
						</div>
						<div class="form-group">
							<label i18n="@@dueDate" for="dueDate">Due Date<font color="red">*</font></label> 
							<p-calendar [(ngModel)]="bill.dueDate" name="dueDate"  #dueDate="ngModel" required></p-calendar>
							<p-message *ngIf="f.submitted && dueDate.invalid" severity="error" text="Field is required"></p-message>
						</div>
					</div>
					<div class="ui-grid-col-9 ui-sm-12">
						<div class="form-group">
							<label i18n="@@notes" for="notes">Notes</label>  
							<textarea pInputTextarea id="notes" rows="4" cols="40" pInputTextarea maxlength="1000" 
									[(ngModel)]="bill.notes" name="notes" #notes="ngModel"> </textarea>		
						</div>
					</div>
				</div>
			</div>
		</div>
			<br/>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<p-table [columns]="serviceCols" [value]="bill.billServices" (change)="calculateTotal()">
						<ng-template pTemplate="caption">
					        List of Services
					    </ng-template>
					    <ng-template pTemplate="header" let-accountCols>
					        <tr>
					            <th *ngFor="let col of serviceCols" [pSortableColumn]="col.field">
					                {{col.header}}
					                <p-sortIcon [field]="col.field"></p-sortIcon>
					            </th>
					            <th>Action</th>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="body" let-rowData let-columns="columns">
					        <tr>			           
					            <td *ngFor="let col of columns" [pEditableColumn]="rowData" [pEditableColumnField]="rowData[col.field]">
					                <p-cellEditor *ngIf="col.field == 'quantity' || col.field == 'unitAmount' || 
					                		col.field == 'discountAmount' || col.field == 'payerAmount' || col.field == 'patientAmount'">
					                    <ng-template pTemplate="input">
					                        <input type="text" [(ngModel)]="rowData[col.field]" [disabled]="col.isDisabled"
					                        	 name="{{col.field}}" >
					                    </ng-template>
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field]}}
					                    </ng-template>
					                </p-cellEditor>
					                <p-cellEditor *ngIf="col.type == 'date'">
					                    <ng-template pTemplate="input">
					                        <p-calendar [(ngModel)]="rowData[col.field]" name="{{col.field}}"></p-calendar>
					                    </ng-template>
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
					                    </ng-template>
					                </p-cellEditor>
					                <p-cellEditor *ngIf="col.field == 'service'">
					                    <ng-template pTemplate="input">
					                        <p-autoComplete [(ngModel)]="rowData[col.field]"
												(onDropdownClick)="serviceDropdown.handleDropdownClick($event)"
												[suggestions]="serviceDropdown.filteredServices" [dropdown]="true"
												(completeMethod)="serviceDropdown.filter($event)"
												name="name" field="name" [size]="30" placeholder=""
												[minLength]="1">
											</p-autoComplete>
					                    </ng-template>
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field].name}}
					                    </ng-template>
					                </p-cellEditor>
					                <p-cellEditor *ngIf="col.field == 'doctor'">
					                    <ng-template pTemplate="input">
					                        <p-autoComplete [(ngModel)]="rowData[col.field]"
												(onDropdownClick)="doctorDropdown.handleDropdownClick($event)"
												[suggestions]="doctorDropdown.filteredDoctors" [dropdown]="true"
												(completeMethod)="doctorDropdown.filter($event)"
												name="name" field="name" [size]="30" placeholder=""
												[minLength]="1">
											</p-autoComplete>
					                    </ng-template>
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field].name}}
					                    </ng-template>
					                </p-cellEditor>
					            </td>
					            <td>
					            	<button type="button" pButton icon="fa fa-plus"  (click)="addRow()"></button>&nbsp;&nbsp;
									<button type="button" pButton icon="fa fa-eraser" ></button>
					            </td>
					        </tr>
					    </ng-template>
					</p-table>
				</div>
			</div>
			
			<br/>
			<br />
			
			
			<div class="ui-grid-row">
				<div class="ui-grid-col-8 ui-sm-12">					
					<p-table [columns]="billPaymentCols" [value]="bill.billPayments" (onEditComplete)="savePayment($event)" *ngIf="bill.id">
						<ng-template pTemplate="caption">
					        List of Payments
					    </ng-template>
					    <ng-template pTemplate="header" let-accountCols>
					        <tr>
					            <th *ngFor="let col of billPaymentCols" [pSortableColumn]="col.field">
					                {{col.header}}
					                <p-sortIcon [field]="col.field"></p-sortIcon>
					            </th>
					            <th>Action</th>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="body" let-rowData let-columns="columns">
					        <tr>			           
					            <td *ngFor="let col of columns" [pEditableColumn]="rowData">
					            	<p-cellEditor *ngIf="col.type == 'date'">
					                    <ng-template pTemplate="input">
					                        <p-calendar [(ngModel)]="rowData[col.field]" name="{{col.field}}"></p-calendar>
					                    </ng-template>
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
					                    </ng-template>
					                </p-cellEditor>
					            	<p-cellEditor *ngIf="col.type == 'text'">
					                    <ng-template pTemplate="input">
					                        <input type="text" [(ngModel)]="rowData[col.field]" [disabled]="col.isDisabled" name="{{col.field}}">
					                    </ng-template>
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field]}}
					                    </ng-template>
					                </p-cellEditor>
					            </td>	
					            <td>
					            	<button type="button" pButton icon="fa fa-plus"  (click)="addPaymentRow()"></button>&nbsp;
									<button type="button" pButton icon="fa fa-eraser" ></button>
					            </td>
					        </tr>
					    </ng-template>
					</p-table>
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
					<div class="form-group"></div>
				</div>
				<div class="ui-grid-col-3 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<label i18n="@@subTotal" for="subTotal">Sub Total </label> 
						</div>
						<div class="ui-grid-col-6 ui-sm-12">
							<input type="text" pInputText id="subTotal" [disabled]="true"
							[(ngModel)]="bill.subTotal" name="subTotal" #subTotal="ngModel">
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<label i18n="@@taxes" for="taxes">Taxes </label> 
						</div>
						<div class="ui-grid-col-6 ui-sm-12">
							<input type="text" pInputText id="taxes" (change)="calculateGrandTotal()"
								[(ngModel)]="bill.taxes" name="taxes" #taxes="ngModel">
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<label i18n="@@discount" for="discount">Discount </label> 
						</div>
						<div class="ui-grid-col-6 ui-sm-12">
							<input type="text" pInputText id="discount" (change)="calculateGrandTotal(); calculateDue()"
								[(ngModel)]="bill.discount" name="discount" #discount="ngModel">
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<label i18n="@@grandTotal" for="grandTotal">Grand Total </label> 
						</div>
						<div class="ui-grid-col-6 ui-sm-12">
							<input type="text" pInputText id="grandTotal" [disabled]="true"
								[(ngModel)]="bill.grandTotal" name="grandTotal" #grandTotal="ngModel">
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<label i18n="@@paid" for="paid">Paid </label> 
						</div>
						<div class="ui-grid-col-6 ui-sm-12">
							<input type="text" pInputText id="paid" (change)="calculateDue()"
								[(ngModel)]="bill.paid" name="paid" #paid="ngModel">
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<label i18n="@@due" for="due">Due </label> 
						</div>
						<div class="ui-grid-col-6 ui-sm-12">
							<input type="text" pInputText id="due" [disabled]="true"
								[(ngModel)]="bill.due" name="due" #due="ngModel">
						</div>
					</div>
				</div>
			</div>
				
			<br/>
			<br />
			<div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button pButton icon="fa fa-check" label="Save"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" pButton icon="fa fa-close" (click)="delete()" label="Supprimer"></button>&nbsp;&nbsp;
					<button type="button" pButton icon="fa fa-print" (click)="printBill()" label="Print"></button>
					<div >
						<a *ngIf="reportName" target="_blank"
							href="assets/reports/{{reportName}}">Download Report {{reportName}}</a>
					</div>
				</div>
			</div>
		</div>

 </form>