<div class="ui-grid-row">
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="discharge">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label i18n="@@admittanceReason" for="admittanceReason">Reason for Admittance</label> 
				</div> 
				<div class="ui-grid-col-8 ui-sm-12">
					<textarea pInputTextarea id="admittanceReason" rows="4" cols="100" pInputTextarea maxlength="2000" 
						[(ngModel)]="discharge.admittanceReason" #admittanceReason="ngModel"> </textarea>							
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
			<br/>
			<div class="ui-grid-row">
				Diagnoses
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<p-table [columns]="diagnosisCols" [value]="diagnoses">
					    <ng-template pTemplate="header" let-diagnosisCols>
					        <tr>
					            <th *ngFor="let col of diagnosisCols" [pSortableColumn]="col.field">
					                {{col.header}}
					                <p-sortIcon [field]="col.field"></p-sortIcon>
					            </th>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="body" let-rowData let-columns="columns">
					        <tr>			           
					            <td *ngFor="let col of columns" pEditableColumn>
					            	<p-cellEditor *ngIf="col.field != 'name' && col.field != 'description'">
					            		<ng-template pTemplate="output">
					                        {{rowData[col.field]}}
					                    </ng-template>
					                </p-cellEditor>
					                <p-cellEditor *ngIf="col.field == 'name' || col.field == 'description'">
					                    <ng-template pTemplate="output">
					                        {{rowData[col.parent][col.field]}}
					                    </ng-template>
					                </p-cellEditor>
					          
					            </td>
					        </tr>
					    </ng-template>
					</p-table>
				</div>
			</div>
			<br/>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label i18n="@@treatmentSummary" for="treatmentSummary">Treatment Summary</label> 
				</div> 
				<div class="ui-grid-col-8 ui-sm-12">
					<textarea pInputTextarea id="treatmentSummary" rows="4" cols="100" pInputTextarea maxlength="2000" 
						[(ngModel)]="discharge.treatmentSummary" #treatmentSummary="ngModel"> </textarea>							
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label i18n="@@dischargeDatetime" for="dischargeDatetime">Discharge Date/Time<font color="red">*</font></label> 
						</div>
						<div class="ui-grid-col-8 ui-sm-12">
							<p-calendar [(ngModel)]="discharge.dischargeDatetime" [showTime]="true"></p-calendar>
						</div>
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label for="physicianApproved">Physician Approved?</label>
						</div>
						<div class="ui-grid-col-8 ui-sm-12">
							<p-radioButton name="physicianApproved" value="Y" label="Yes" [(ngModel)]="discharge.physicianApproved"></p-radioButton>
							<p-radioButton name="physicianApproved" value="N" label="No" [(ngModel)]="discharge.physicianApproved"></p-radioButton>										
						</div>
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label i18n="@@doctor" for="doctor">Discharge Doctor</label>
						</div> 
						<div class="ui-grid-col-8 ui-sm-12">
							<p-autoComplete [(ngModel)]="discharge.doctor"
								(onDropdownClick)="doctorDropdown.handleDropdownClick($event)"
								[suggestions]="doctorDropdown.filteredDoctors" [dropdown]="true"
								(completeMethod)="doctorDropdown.filter($event)"
								name="name" field="name" [size]="30" placeholder=""
								[minLength]="1">
							</p-autoComplete>
						</div>
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label for="dischargeReason">Reason of discharge</label>
				</div>
                <div class="ui-grid-col-8 ui-sm-12" >
                  <p-radioButton name="dischargeReason" id="dischargeReason" [(ngModel)]="discharge.dischargeReason.id" 
                  	[value]="dischargeReason.id"
                    label="{{dischargeReason.name}}" *ngFor="let dischargeReason of dischargeReasons"></p-radioButton>
                </div>
                <div class="ui-grid-col-1 ui-sm-12">
				</div>
           </div>
           <div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label i18n="@@furtherTreatmentPlan" for="furtherTreatmentPlan">Further Treatment Plan</label> 
				</div> 
				<div class="ui-grid-col-8 ui-sm-12">
					<textarea pInputTextarea id="furtherTreatmentPlan" rows="4" cols="100" pInputTextarea maxlength="2000" 
						[(ngModel)]="discharge.furtherTreatmentPlan" #furtherTreatmentPlan="ngModel"> </textarea>							
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-6 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label i18n="@@nextCheckupDate" for="nextCheckupDate">Next Checkup Date</label> 
						</div>
						<div class="ui-grid-col-8 ui-sm-12">
							<p-calendar [(ngModel)]="discharge.nextCheckupDate"></p-calendar>
						</div>
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
				<div class="ui-grid-col-6 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label for="clientConsentApproval">Client Consent/Approval?</label>
						</div>
						<div class="ui-grid-col-8 ui-sm-12">
							<p-radioButton name="clientConsentApproval" value="Y" label="Yes" [(ngModel)]="discharge.clientConsentApproval"></p-radioButton>
							<p-radioButton name="clientConsentApproval" value="N" label="No" [(ngModel)]="discharge.clientConsentApproval"></p-radioButton>										
						</div>
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
			</div>
			
			<br/>
			<div class="ui-grid-row">
				Medications Prescribed
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<p-table [columns]="medicineCols" [value]="prescriptionMedicines">
					    <ng-template pTemplate="header" let-medicineCols>
					        <tr>
					            <th *ngFor="let col of medicineCols" [pSortableColumn]="col.field">
					                {{col.header}}
					                <p-sortIcon [field]="col.field"></p-sortIcon>
					            </th>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="body" let-rowData let-columns="columns">
					        <tr>			           
					            <td *ngFor="let col of columns" pEditableColumn>
					            	<p-cellEditor *ngIf="col.header != 'Name'">
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field]}}
					                    </ng-template>
					                </p-cellEditor>
					                <p-cellEditor *ngIf="col.header == 'Name'">
					                    <ng-template pTemplate="output">
					                        {{rowData[col.field].name}}
					                    </ng-template>
					                </p-cellEditor>
					            </td>
					        </tr>
					    </ng-template>
					</p-table>
				</div>
			</div>
			<br/>
			<div class="ui-grid-row">
				<div class="ui-grid-col-3 ui-sm-12">
					<label i18n="@@notes" for="notes">Notes</label> 
				</div> 
				<div class="ui-grid-col-8 ui-sm-12">
					<textarea pInputTextarea id="notes" rows="4" cols="100" pInputTextarea maxlength="2000" 
						[(ngModel)]="discharge.notes" #notes="ngModel"> </textarea>							
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
				</div>
			</div>
			
              <br/>
              <br/>
		
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa fa-close" (click)="delete()"
					label="Supprimer"></button>
				<button type="button" pButton icon="fa fa-check" (click)="save()"
					label="Sauvegarder"></button>
			</div>
		</div>
	</div>
</div>