	<div class="ui-grid-row">
		<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
			<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="doctorOrder">
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@doctorOrderDatetime" for="doctorOrderDatetime">Date Time<font color="red">*</font></label> 
							</div>
							<div class="ui-grid-col-8 ui-sm-12">
								<p-calendar [(ngModel)]="doctorOrder.doctorOrderDatetime" [showTime]="true"></p-calendar>
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
					<br/>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@doctorOrderPriority" for="doctorOrderPriority">Doctor Order Priority</label>
							</div>
							<div class="ui-grid-col-8 ui-sm-12"> 
								<p-autoComplete [(ngModel)]="doctorOrder.doctorOrderPriority"
									(onDropdownClick)="doctorOrderPriorityDropdown.handleDropdownClick($event)"
									[suggestions]="doctorOrderPriorityDropdown.filteredDoctorOrderPriorities" [dropdown]="true"
									id="doctorOrderPriority" (completeMethod)="doctorOrderPriorityDropdown.filter($event)"
									name="doctorOrderPriority" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
									[minLength]="1"></p-autoComplete>
							</div>									
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@doctorOrderType" for="doctorOrderType">Type</label>
							</div>
							<div class="ui-grid-col-8 ui-sm-12"> 
								<p-autoComplete [(ngModel)]="doctorOrder.doctorOrderType" 
									(ngModelChange)="toggleTypeDropdown($event)"
									(onDropdownClick)="doctorOrderTypeDropdown.handleDropdownClick($event)"
									[suggestions]="doctorOrderTypeDropdown.filteredDoctorOrderTypes" [dropdown]="true"
									id="doctorOrderType" (completeMethod)="doctorOrderTypeDropdown.filter($event)"
									name="doctorOrderType" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
									[minLength]="1"></p-autoComplete>
							</div>									
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
						<br/>
						<div class="ui-grid-row">
							<div class="ui-grid-col-3 ui-sm-12">
								<label i18n="@@labTest" for="labTest">Lab Test/Group<font color="red">*</font></label>
							</div>
							<div>
								<p-pickList [source]="labTestDropdown.labTests" [target]="doctorOrder.labTests"
									sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="name" >
								    <ng-template let-labTest pTemplate="item">
								        <div class="ui-helper-clearfix">
								            <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{labTest.name}}</div>
								        </div>
								    </ng-template>
								</p-pickList>
							</div>									
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<div class="ui-grid-row">
							<div class="ui-grid-col-2 ui-sm-18">
								<label i18n="@@description" for="description">Description</label> 
							</div>
							<div class="ui-grid-col-16 ui-sm-18">
								<p-editor [(ngModel)]="doctorOrder.description" [style]="{'height':'100px'}"></p-editor>
							</div>
							<div class="ui-grid-col-1 ui-sm-12">
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<div class="ui-grid-row" *ngIf="user.userGroup.id != 2">
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label i18n="@@orderingDoctor" for="orderingDoctor">Ordering Doctor</label>
						</div>
						<div class="ui-grid-col-8 ui-sm-12"> 
							<p-autoComplete [(ngModel)]="doctorOrder.doctor"
								(onDropdownClick)="doctorDropdown.handleDropdownClick($event)"
								[suggestions]="doctorDropdown.filteredDoctors" [dropdown]="true"
								id="orderingDoctor" (completeMethod)="doctorDropdown.filter($event)"
								name="orderingDoctor" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
								[minLength]="1"></p-autoComplete>
						</div>									
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
				
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label i18n="@@doctorOrderKind" for="doctorOrderKind">Doctor Order Method</label>
						</div>
						<div class="ui-grid-col-8 ui-sm-12"> 
							<p-autoComplete [(ngModel)]="doctorOrder.doctorOrderKind"
								(onDropdownClick)="doctorOrderKindDropdown.handleDropdownClick($event)"
								[suggestions]="doctorOrderKindDropdown.filteredDoctorOrderKinds" [dropdown]="true"
								id="doctorOrderKind" (completeMethod)="doctorOrderKindDropdown.filter($event)"
								name="doctorOrderKind" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
								[minLength]="1"></p-autoComplete>
						</div>									
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3 ui-sm-12">
							<label i18n="@@receivedDatetime" for="receivedDatetime">Order Received Date Time<font color="red">*</font></label> 
						</div>
						<div class="ui-grid-col-8 ui-sm-12">
							<p-calendar [(ngModel)]="doctorOrder.receivedDatetime" [showTime]="true"></p-calendar>
						</div>
						<div class="ui-grid-col-1 ui-sm-12">
						</div>
					</div>
				</div>
			</div>
			
			<br/>
			<br/>
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton icon="fa fa-close" (click)="delete()"
						label="Supprimer"></button>
					<button type="button" pButton icon="fa fa-check" (click)="save()"
						label="Sauvegarder"></button>
				</div>
			</div>
		</div>
	</div>
