<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg"></section>
	<div class="container" style="padding-left: 10px;">
		<section
			class="call-to-action featured featured-secondary mb-5 text-center"
			style="border-radius: 8px; padding: 10px; width: 100%;">
			<div class="col-sm-12 col-lg-12 text-center" *ngIf="success && !processing">
				<div class="call-to-action-content" style="width: 100%;">
					<h3>
						<font color="green"><strong>Nous avons bien recu
								votre payement. Merci pour votre generosite !</strong></font>
					</h3>
					<p class="mb-0">
					<h4>Une copie du recu vous a ete envoyee a votre e-mail</h4>					 
				</div>
			</div>
			
			<div class="col-sm-12 col-lg-12 text-center" *ngIf="processing">
				<div class="call-to-action-content" style="width: 100%;">
					<h3>
						<font color="green"><strong>Payement en cours....</strong></font>
					</h3>
					<p class="mb-0">
					<h4>Patientez SVP</h4>					 
				</div>
			</div>
			
			<div class="col-sm-12 col-lg-12 text-center" *ngIf="!success && !processing">
				<div class="call-to-action-content" style="width: 100%;">
					<h3>
						<font color="red"><strong>Une erreur s'est produite lors du payement</strong></font>
					</h3>
					<p class="mb-0">
					<h4>Votre carte ou compte paypal n'as pas ete debite. Veuillez soumettre votre payement de nouveau </h4>					 
				</div>
			</div>
		</section>
	</div>
</div> 

