<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="enquiry">
		<p-messages [(value)]="messages"></p-messages>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="form-group">		
					<label for="firstName">{{ 'COMMON.FIRST_NAME' | translate }}</label>
					<input pInputText id="firstName" [(ngModel)]="enquiry.firstName" name="firstName" #firstName="ngModel" required />
					<p-message *ngIf="f.submitted && firstName.invalid" severity="error" text="Field is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="form-group">		
					<label for="lastName">{{ 'COMMON.LAST_NAME' | translate }}</label>
					<input pInputText id="lastName" [(ngModel)]="enquiry.lastName" name="lastName" #lastName="ngModel" required />
					<p-message *ngIf="f.submitted && lastName.invalid" severity="error" text="Field is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="form-group">		
					<label for="middleName">{{ 'COMMON.MIDDLE_NAME' | translate }}</label>
					<input pInputText id="middleName" [(ngModel)]="enquiry.middleName" name="middleName" #middleName="ngModel" />
				</div>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">		
					<label for="description">{{ 'COMMON.E_MAIL' | translate }}</label>
					<input pInputText id="email" [(ngModel)]="enquiry.email" name="email" #email="ngModel"/>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">		
					<label for="phone">{{ 'COMMON.PHONE' | translate }}</label>
					<input pInputText id="phone" [(ngModel)]="enquiry.phone" name="phone" #phone="ngModel"/>
				</div>
			</div>
			<div class="ui-grid-col-6 ui-sm-12">
				<div class="form-group">		
					<label for="notes">{{ 'COMMON.NOTES' | translate }}</label>
					<textarea pInputTextarea id="notes" [(ngModel)]="enquiry.notes" name="notes" #notes="ngModel"> </textarea>
				</div>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">		
					<label for="read">{{ 'COMMON.READ' | translate }}</label>
					<br/>{{enquiry.read}}
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">		
					<label for="checkedBy">{{ 'COMMON.CHECKED_BY' | translate }}</label>
					<div *ngIf="enquiry.checkedBy">{{enquiry.checkedBy.name}}</div>
				</div>
			</div>
		</div>
		
		<br/>
		<br/>
		
	</div>
	<br />
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-close" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;
		<button pButton icon="fa fa-check" label="{{ 'COMMON.SAVE' | translate }}" [disabled]="enquiry.id == null || enquiry.read == 'Y'"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" pButton icon="fa fa-check" (click)="save(2)" label="{{ 'COMMON.MARK_AS_READ' | translate }}" 
					[disabled]="enquiry.id == null || enquiry.read == 'Y'"></button>
	</div>
</form>	
