
<div role="main" class="main">
	<div class="slider-container rev_slider_wrapper" style="height: 600px;">
		<div id="revolutionSlider" class="slider rev_slider"
			data-plugin-revolution-slider
			data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 600}">
			<ul>
				<li data-transition="fade"><img
					src="assets/images/slides/slide-1-min.jpg" alt=""
					data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" data-kenburns="on" data-duration="9000"
					data-ease="Linear.easeNone" data-scalestart="115"
					data-scaleend="100" data-rotatestart="0" data-rotateend="0"
					data-offsetstart="0 -200" data-offsetend="0 200"
					data-bgparallax="0" class="rev-slidebg">

					<div
						class="tp-caption tp-caption-overlay tp-caption-overlay-primary main-label"
						data-x="center" data-y="265" data-start="1000"
						data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
						data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;">Kozaɣ
						Yɔɔ Kandiyaa</div>

					<div class="tp-caption tp-caption-overlay-opacity bottom-label"
						data-x="center" data-y="358" data-start="2000"
						data-transform_in="y:[100%];opacity:0;s:500;">Nous luttons
						pour battir une Kozah meilleure...</div></li>

				<li data-transition="fade"><img
					src="assets/images/slides/slide-2-min.jpg" alt=""
					data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" data-kenburns="on" data-duration="9000"
					data-ease="Linear.easeNone" data-scalestart="115"
					data-scaleend="100" data-rotatestart="0" data-rotateend="0"
					data-offsetstart="0 400px" data-offsetend="0 -400px"
					data-bgparallax="0" class="rev-slidebg">

					<div
						class="tp-caption tp-caption-overlay tp-caption-overlay-primary main-label"
						data-x="center" data-y="265" data-start="1000"
						data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
						data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;">UNE
						KOZAH EPANOUIE</div>

					<div class="tp-caption tp-caption-overlay-opacity bottom-label"
						data-x="center" data-y="358" data-start="2000"
						data-transform_in="y:[100%];opacity:0;s:500;">Notre objectif
						premier: Aider au developement des filles et fils de la Kozah</div></li>

				


			</ul>
		</div>
	</div>
	<section class="call-to-action featured featured-secondary mb-5 text-center"
		style="border-radius: 8px; padding: 10px; width: 100%;">
		<div class="col-sm-12 col-lg-12 text-center">
			 
			<div class="call-to-action-content" style="width: 100%;">
				<h3>				
					<font color="red"><strong>Spéciale élection du bureau 2018</strong></font>
				</h3>
				<p class="mb-0">
				<a href="#/candidats" (click)="gotToCandidat()">
					En vue de la preparation a l'accomplissement de votre devoir civic, veuillez prendre connaissance de vos candidats
					</a>
					<div class="call-to-action-btn">
				<a href="#/candidats" class="btn btn-lg btn-secondary"  (click)="gotToCandidat()">Voir les candidats!</a>
			</div>
			</div>
			<!-- 
			 <div class="call-to-action-content" style="width: 100%;">
				<h3>				
					<font color="red"><strong>Spéciale élection du bureau 2018</strong></font>
				</h3>
				<p class="mb-0">
				<a href="#/candidats" (click)="gotToCandidat()">
					En vue de la preparation a l'accomplissement de votre devoir civic, nous avons prepare un vote test. 
					Veuillez vous connecter pour passer le vote test afin de vous assurer que vous etes pret le <strong>jour J.</strong>
					Les candidats du vote test seront remplaces par les vrais candidats la nuit du dimanche 4 mars. Veillez passer votre vote test avant ce delai.
					</a>
					<div class="call-to-action-btn">
				<a href="#/candidats" class="btn btn-lg btn-secondary"  (click)="gotToCandidat()">Voir les candidats du vote test!</a>
			</div>
			</div>
			-->
			
		</div> 
	</section>

	<div class="container">

		<div class="row justify-content-center mt-5">
			<div class="col-lg-10">

				<div class="tabs tabs-bottom tabs-center tabs-simple mt-2 mb-3">
					<ul class="nav nav-tabs">
						<li class="nav-item active"><a class="nav-link"
							href="#tabsNavigationSimpleIcons1" data-toggle="tab"> <span
								class="featured-boxes featured-boxes-style-6 p-0 m-0"> <span
									class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
										<span class="box-content p-0 m-0"> <i
											class="icon-featured icon-bulb icons"></i>
									</span>
								</span>
							</span>
								<p class="mb-0 pb-0">Objectifs</p>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="#tabsNavigationSimpleIcons2" data-toggle="tab"> <span
								class="featured-boxes featured-boxes-style-6 p-0 m-0"> <span
									class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
										<span class="box-content p-0 m-0"> <i
											class="icon-featured icon-mustache icons"></i>
									</span>
								</span>
							</span>
								<p class="mb-0 pb-0">Domaines d'action</p>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="#tabsNavigationSimpleIcons3" data-toggle="tab"> <span
								class="featured-boxes featured-boxes-style-6 p-0 m-0"> <span
									class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
										<span class="box-content p-0 m-0"> <i
											class="icon-featured icon-puzzle icons"></i>
									</span>
								</span>
							</span>
								<p class="mb-0 pb-0">Moyens d'action</p>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="#tabsNavigationSimpleIcons4" data-toggle="tab"> <span
								class="featured-boxes featured-boxes-style-6 p-0 m-0"> <span
									class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
										<span class="box-content p-0 m-0"> <i
											class="icon-featured icon-rocket icons"></i>
									</span>
								</span>
							</span>
								<p class="mb-0 pb-0">Adhesion</p>
						</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabsNavigationSimpleIcons1">
							<div class="text-center">
								<p>L’Association a pour but de promouvoir la culture Kabyè
									et de contribuer à l’amélioration des conditions de vie des
									fils et filles originaires de la Kozah dans une approche de
									développement durable, inclusif et participatif.</p>
							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationSimpleIcons2">
							<div class="text-left">
								<p>L’Association intervient dans les domaines suivants :</p>
								<div class="row">
									<div class="col-lg-6">

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> l’éducation,
												l’alphabétisation, la formation et l’information.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> la lutte contre la
												pauvreté, l’emploi.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> l’environnement.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> l’agriculture et
												l’élevage.</li>
										</ul>

									</div>
									<div class="col-lg-6">

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> la culture et l’art.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> la santé.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> l’environnement.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> Les techniques de la
												communication et de la culture.</li>
										</ul>

									</div>
								</div>


							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationSimpleIcons3">
							<div class="text-left">

								<p>En vue d’atteindre ses objectifs, l’Association entend
									entre autres moyens :</p>
								<div class="row">
									<div class="col-lg-6">

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> sensibiliser et former
												les populations à la base.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> informer, éduquer et
												communiquer les populations à la base.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> collaborer avec les
												Pouvoirs Publics et privés, les collectivités locales, les
												ONG, les Associations et institutions tant nationales qu
												internationales.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> donner un appui-conseil
												aux communautés de base.</li>
										</ul>

									</div>


									<div class="col-lg-6">

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i>créer les centres de
												formation professionnelle et appuyer les écoles.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> créer des salles
												d’études et d’informatique.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> organiser des activités
												socioculturelles.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i> organiser des
												séminaires, des ateliers, des colloques, des conférences et
												des tables rondes.</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationSimpleIcons4">
							<div class="text-left">

								<p>Est membre actif, tout kabye résident en Amérique du Nord
									disposé à:</p>
								<div class="row">
									<div class="col-lg-6">

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i>S’acquitter régulièrement
												de ses cotisations et droit d’adhésions.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i>Participer aux
												différentes réunions.</li>
										</ul>

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i>Participer pleinement aux
												activités de l’Association.</li>
										</ul>
									</div>

									<div class="col-lg-6">

										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i>œuvrer à la réalisation
												de ses buts et objectifs.</li>
										</ul>
										<ul class="list list-icons list-secondary">
											<li><i class="fa fa-check"></i>se conformer aux
												dispositions des statuts et du règlement intérieur.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<p class="text-center">
					<a class="btn btn-light mt-3 mb-3" href="#/statuts">Lire les
						statuts<i class="fa fa-angle-right pl-1"></i>
					</a>
				</p>
			</div>
		</div>

	</div>
	<section class="section section-default section-default-scale-8">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="mb-0 mt-0 font-weight-semibold text-light">Qui
						sommmes nous?</h2>
					<p class="lead mb-3">Sentinelle de la Kozah Amérique.</p>
					<div
						class="divider divider-primary divider-small divider-small-center">
						<hr>
					</div>
					<p class="mb-0 text-light">Vu l’aggravation de la pauvreté dans
						la Kozah,</p>
					<p class="mb-0 text-light">Vu l’absence de structures
						socio-culturelles pour le développement de la Kozah, Considérant
						que toute œuvre humaine durable ne peut se parfaire qu’en
						regroupant les idées et les valeurs intrinsèques des personnes,</p>
					<p class="mb-0 text-light">Dans le souci de contribuer à
						l’épanouissement de la population de la Kozah en leur offrant un
						cadre d’échange d’expériences et des moyens de développer leurs
						aptitudes, le sens de la responsabilité sociale et l’esprit
						d’innovation et de progrès,</p>
					<p class="mb-0 text-light">Au regard de tout ce qui précède,
						nous, ressortissants de la kozah vivant en Amérique du Nord,
						décidons de nous constituer en une association soeur partageant
						certaines valeurs de la Sentinelle de la Kozah basée au Togo dans
						la préfecture de la Kozah. La Sentinelle de la Kozah Amérique
						s’engage à fédérer ses énergies aux cotés de la Sentinelle Kozah
						pour le développement effectif de la Préfecture de la Kozah. La
						Sentinelle Kozah Amerique est une association apolitique et à but
						non lucratif conformément aux articles 3 et 4 de la loi 501c du
						Internal Revenue Code.</p>


					<a class="btn btn-primary mt-5 mb-2" href="#/statuts">Lire la
						suite <i class="fa fa-angle-right pl-1"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="mt-5 mb-0 pb-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="mb-0 font-weight-semibold">Nos récents projets</h2>
					<p class="lead mb-3">Veuillez nous aider à réaliser plus de
						projets en contribuant ci-dessous.</p>
					<div
						class="divider divider-primary divider-small divider-small-center mb-3">
						<hr>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">

				<div class="col-lg-6 col-sm-12">
					<div class="card card-default">
						<div class="card-header" style="padding: 0">
							<div class="row">
								<div class="col-lg-8 col-sm-8 text-left">
									<h4 class="card-title m-0">
										<a class="accordion-toggle" data-toggle="collapse"
											data-parent="#accordion7" href="#collapse7One"> Nos
											Projets </a>
									</h4>
								</div>
								
							</div>
						</div>
						<div id="collapse7One" class="collapse show">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-1 col-sm-1 text-center"></div>
									<div class="col-lg-10 col-sm-10 text-center">
										
									</div>
									<div class="col-lg-1 col-sm-1 text-center"></div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-sm-12 text-center">
										<p class="text-color-primary mb-3">
											
										</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="section section-tertiary section-front mt-0"
		*ngIf="leadership&&leadership.length>0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 class="mb-0 font-weight-semibold text-dark">Notre bureau</h2>
							<p class="lead mb-3">Ils travaillent inlassablement pour
								faire avancer notre agenda.</p>
							<div
								class="divider divider-primary divider-small divider-small-center mb-3">
								<hr>
							</div>
						</div>
					</div>
					<div class="row justify-content-center"
						*ngIf="leadership&&leadership.length>0">
						<div class="col-md-12 col-lg-2" *ngFor="let leader of leadership">
							<div class="testimonial testimonial-style-2 appear-animation"
								data-appear-animation="fadeInRight"
								data-appear-animation-delay="700">
								<div class="testimonial-arrow-down"></div>
								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<div class="row mt-5 pt-3 counters counters-text-dark">
			<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
				<div class="counter appear-animation"
					data-appear-animation="fadeInUp" data-appear-animation-delay="300">
					<i class="fa fa-group"></i> <strong data-to="50" data-append="+">0</strong>
					<label>Membres</label>
					<p class="text-color-primary mb-3">
						<a href="#/login">Enregistrez-vous</a>
					</p>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
				<div class="counter appear-animation"
					data-appear-animation="fadeInUp" data-appear-animation-delay="900">
					<i class="fa fa-cog"></i> <strong data-to="2" data-append="">0</strong>
					<label>Projets</label>
					<p class="text-color-primary mb-3">
						<a href="#"
							onclick="$('html, body').animate({scrollTop:1400}, 'slow');">Aidez-nous
							a financer nos projets</a>
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="counter appear-animation"
					data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
					<i class="fa fa-clock-o"></i> <strong data-to="1" data-append="ans">0</strong>
					<label>Que nous existons</label>
					<p class="text-color-primary mb-3">Debut: 10/30/2017</p>
				</div>
			</div>
		</div>

	</div>
</div>


<p-dialog header="Kozaɣ Yɔɔ Kandiyaa" [(visible)]="displayVideo"
	(onHide)="stopVideo()" [showHeader]="true" [responsive]="true"
	[modal]="true" width="850"> <video controls width="100%"
	preload="auto" #videoPlayer>
	<source src="assets/video/danse1.mp4" type="video/mp4">
	Your browser does not support the video tag.
</video> </p-dialog>

<p-dialog header="Kozaɣ Yɔɔ Kandiyaa" [(visible)]="displayDialog"
	[responsive]="true" [modal]="true" width="750">

<div class="row">
	<div class="col-sm-12 col-lg-3">
		<div class="testimonial testimonial-style-2 appear-animation"
			data-appear-animation="fadeInRight" data-appear-animation-delay="700">
			<div class="testimonial-arrow-down"></div>
			<div class="testimonial-author">
				<img src="assets/images/members/{{theUser.pic}}"
					class="img-fluid rounded-circle" alt="">
			</div>
		</div>
	</div>

</div>

<div
	class="divider divider-primary divider-small divider-small-center mb-3">
	<hr>
</div>

</p-dialog>
