<div class="ui-grid-row"> 
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<p-table [columns]="cols" [value]="hospitalLocations">
			<ng-template pTemplate="caption">
				{{ 'COMMON.LOCATION_LIST' | translate }}
			</ng-template>
		    <ng-template pTemplate="header" let-columns>
		        <tr>
		            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
		                {{col.header}}
		                <p-sortIcon [field]="col.field"></p-sortIcon>
		            </th>
		            <th>Action</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-rowData let-columns="columns">
		        <tr>			           
		            <td *ngFor="let col of columns">
		                {{rowData[col.field]}}
		            </td>
		            <td>
		            	<button type="button" pButton icon="fa fa-edit" (click)="edit(rowData.id)"></button>&nbsp;
						<button type="button" pButton icon="fa fa-eraser" (click)="delete(rowData.id)"></button>
		            </td>
		        </tr>
		    </ng-template>
		</p-table>
	</div>
</div>
 