<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="hospitalLocation">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="name">{{ 'COMMON.NAME' | translate }}<font color="red">*</font></label> 
					<input type="text" pInputText class="form-control" id="name"
						[(ngModel)]="hospitalLocation.name" name="name" #name="ngModel">
					<p-message *ngIf="f.submitted && name.invalid" severity="error" text="Field is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="description">{{ 'COMMON.DESCRIPTION' | translate }}</label>
					<textarea pInputTextarea id="description" name="description" [(ngModel)]="hospitalLocation.description" #description="ngModel"> </textarea>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="phone">{{ 'COMMON.PHONE' | translate }}<font color="red">*</font></label>
					<input type="text" pInputText class="form-control" id="phone"
						[(ngModel)]="hospitalLocation.phone" name="phone" #phone="ngModel" required>
					<p-message *ngIf="f.submitted && phone.errors && phone.errors.required" severity="error" 
							text="Phone is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="address">{{ 'COMMON.ADDRESS' | translate }}</label> <input
						type="text" pInputText class="form-control" id="address" [(ngModel)]="hospitalLocation.address" 
							name="address" #address="ngModel">
				</div>
			</div>
		</div>
		<div class="ui-grid-row">
			
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="city">{{ 'COMMON.CITY' | translate }}</label> 
					<input type="text" pInputText class="form-control" id="city" [(ngModel)]="hospitalLocation.city" 
							name="city" #city="ngModel">
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="country">{{ 'COMMON.COUNTRY' | translate }}</label>
					<p-autoComplete [(ngModel)]="hospitalLocation.country"
						(onDropdownClick)="countryDropdown.handleDropdownClick($event)"
						[suggestions]="countryDropdown.filteredCountries" [dropdown]="true"
						id="country" (completeMethod)="countryDropdown.filter($event)"
						name="country" field="name" [size]="30" placeholder="{{COUNTRY}}"
						[minLength]="1"></p-autoComplete>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="zipCode">{{ 'COMMON.ZIP_CODE' | translate }}</label> <input
						type="text" pInputText class="form-control" id="zipCode"
						[(ngModel)]="hospitalLocation.zipCode" name="zipCode"
						#zipCode="ngModel">
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa fa-refresh" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-save" (click)="save()" label="{{ 'COMMON.SAVE' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-remove" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>
	</div>
</form>

 
