<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg">
	</section>

		<div class="container" style="padding-left: 10px; max-width: 100%;">
	
	<div class="ui-grid-row">
		<div class="ui-g-2 ui-sm-4">
			<app-admin-menu></app-admin-menu>
		</div>
		<div class="ui-g-10 ui-sm-8" style="padding: 15px;">
			<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="insurance">
				<p-accordion> 
					<p-accordionTab header="Demographic Info" selected="true">

						<div class="ui-grid-row">
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@name" for="name">Name<font
										color="red">*</font>
									</label> <input type="text" pInputText class="form-control" id="name"
										[(ngModel)]="insurance.name" name="name" #name="ngModel">
								</div>
							</div>
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@insuranceNumber" for="insuranceNumber">Insurance Number<font
										color="red">*</font></label> 
									<input type="text" pInputText class="form-control" id="insuranceNumber"
										[(ngModel)]="insurance.insuranceNumber" name="insuranceNumber" #insuranceNumber="ngModel">
								</div>
							</div>
						</div>
						
						<div class="ui-grid-row">
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@insuranceCode" for="insuranceCode">Insurance Code<font
										color="red">*</font>
									</label> 
									<input type="text" pInputText class="form-control" id="insuranceCode"
										[(ngModel)]="insurance.insuranceCode" name="insuranceCode" #insuranceCode="ngModel">
								</div>
							</div>
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@serviceTax" for="serviceTax">Service Tax<font
										color="red">*</font></label> 
									<input type="text" pInputText class="form-control" id="serviceTax"
										[(ngModel)]="insurance.serviceTax" name="serviceTax" #serviceTax="ngModel">
								</div>
							</div>
						</div>
						
						<div class="ui-grid-row">
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@discount" for="discount">Discount</label> 
									<input type="text" pInputText class="form-control" id="discount"
										[(ngModel)]="insurance.discount" name="discount" #discount="ngModel">
								</div>
							</div>
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@remark" for="remark">Remark</label> 
									<p-editor [(ngModel)]="insurance.remark" [style]="{'height':'100px'}"></p-editor>
								</div>
							</div>
						</div>
						
						<div class="ui-grid-row">
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@hospitalRate" for="hospitalRate">Hospital Rate</label> 
									<input type="text" pInputText class="form-control" id="hospitalRate"
										[(ngModel)]="insurance.hospitalRate" name="hospitalRate" #hospitalRate="ngModel">
								</div>
							</div>
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@insuranceRate" for="insuranceRate">Insurance Rate</label> 
									<input type="text" pInputText class="form-control" id="insuranceRate"
										[(ngModel)]="insurance.insuranceRate" name="insuranceRate" #insuranceRate="ngModel">
								</div>
							</div>
						</div>
						
						<div class="ui-grid-row">
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="form-group">
									<label i18n="@@total" for="total">Total</label> 
									<input type="text" pInputText class="form-control" id="total"
										[(ngModel)]="insurance.total" name="total" #total="ngModel">
								</div>
							</div>
							<div class="ui-grid-col-6 ui-sm-12">
								<div class="ui-grid-col-4">
									<label for="status">Status</label>
								</div>
								<div class="ui-grid-col-8">
									<p-radioButton name="status" value="0" label="Active" [(ngModel)]="insurance.status"></p-radioButton>
									<p-radioButton name="status" value="1" label="Inactive" [(ngModel)]="insurance.status"></p-radioButton>
								</div>
							</div>
						</div>
					</p-accordionTab>
				</p-accordion>
				<br />
						
			</div>
			<br />
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton icon="fa fa-close" (click)="delete()"
						label="Supprimer"></button>
					<button type="button" pButton icon="fa fa-check" (click)="save()"
						label="Sauvegarder"></button>
				</div>
			</div>
		</div>
	</div>
</div>
