<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="investigation">
			<p-messages [(value)]="messages"></p-messages>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5 ui-sm-12">
					<app-visitAdm-lookup (visitEmit)="lookUpVisitAdm($event)" [originalPage]="'admin/patientSaleDetails'"
						[visit]="visit"></app-visitAdm-lookup>
				</div>
				<div class="ui-grid-col-7 ui-sm-12">
					<div class="ui-grid-col-2 ui-sm-12">
						<div class="form-group">
							<label for="investigationDatetime">{{ 'COMMON.INVESTIGATION_DATETIME' | translate }}<font color="red">*</font></label> 
							<p-calendar [(ngModel)]="investigation.investigationDatetime" [showTime]="true"
								name="investigationDatetime"  #investigationDatetime="ngModel" required></p-calendar>
							<p-message *ngIf="f.submitted && investigationDatetime.invalid" severity="error" text="Field is required"></p-message>
						</div>
					</div>
					<div class="ui-grid-col-3 ui-sm-12">
						<div class="form-group">
							<label for="name">{{ 'COMMON.NAME' | translate }}</label> 
							<input pInputText id="name" [(ngModel)]="investigation.name" name="name"  #name="ngModel" required />	
							<p-message *ngIf="f.submitted && name.invalid" severity="error" text="Field is required"></p-message>						
						</div>
					</div>
					<div class="ui-grid-col-7 ui-sm-12">
						<div class="form-group">
							<label for="description">{{ 'COMMON.DESCRIPTION' | translate }}</label> 
							<textarea pInputTextarea id="description" rows="4" cols="40" pInputTextarea maxlength="1000" 
								[(ngModel)]="investigation.description" name="notes" #notes="ngModel"> </textarea>					
						</div>
					</div>
				</div>
			</div>
			
			<div class="ui-grid-row">
				<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label for="labTest">{{ 'COMMON.LAB_TEST_GROUP' | translate }}<font color="red">*</font></label>  
							<p-autoComplete [(ngModel)]="investigation.labTest" (ngModelChange)="populateLabTests($event)"
							(onDropdownClick)="labTestDropdown.handleDropdownClick($event)"
							[suggestions]="labTestDropdown.filteredLabTests" [dropdown]="true"
							id="labTest" (completeMethod)="labTestDropdown.filter($event)"
							name="labTest" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
							[minLength]="1" name="labTest" #labTest="ngModel" required></p-autoComplete> 
							<p-message *ngIf="f.submitted && labTest.invalid" severity="error" text="Field is required"></p-message>
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="labTest">{{ 'COMMON.LAB_TEST_FROM_GROUP' | translate }}</label> 
						<p-listbox [options]="labTests" optionLabel="name"></p-listbox>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa fa-refresh" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;
			<button pButton icon="fa fa-save" label="{{ 'COMMON.SAVE' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-remove" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>
		</div>
	</div>
</form>