
<p-dialog header="{{actionType}}" [(visible)]="display">
	<div class="ui-grid-row">
		<div class="ui-grid-col-4 ui-sm-12">
	<		<div class="form-group">
				<label for="actionDatetime">{{ 'COMMON.ACTION_DATETIME' | translate }}<font color="red">*</font></label>
				<p-calendar [(ngModel)]="actionDatetime" [showTime]="true"></p-calendar>
			</div>
		</div>
		<div class="ui-grid-col-4 ui-sm-12">
			<div class="form-group">
				<label for="actionComments">{{ 'COMMON.COMMENTS' | translate }}</label>
				<input pInputText id="actionComments" [(ngModel)]="actionComments" />
			</div>
		</div>
	</div>
	<button type="button" pButton icon="fa fa-check" (click)="saveAction()" label="Save"></button>
</p-dialog>

<div class="ui-grid-row">
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<p-table [columns]="cols" [value]="investigations" dataKey="id" [(selection)]="parentSelection"> 
			<ng-template pTemplate="caption">
		        {{ 'COMMON.INVESTIGATION_LIST' | translate }}
		    </ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th style="width: 5%;"></th>
					<th *ngFor="let col of columns" [pSortableColumn]="col.field">
						{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
					</th>
					<th style="width: 15%;" *ngIf="showActions">Action</th>
				</tr>
			</ng-template> 
			<ng-template pTemplate="body" let-rowData let-expanded="expanded" let-j="rowIndex" let-columns="columns">
				<tr>
					<td style="width: 5%;">
						<a (click)="getInvestigationTests(rowData)" href="#" [pRowToggler]="rowData"> 
							<i [ngClass]="expanded ? 'fa  fa-chevron-down' : 'fa fa-chevron-right'" style="font-size: 1.25em"></i>
						</a>
					</td>
					<td *ngFor="let col of columns">
						<div *ngIf="col.type === 'Date'">{{rowData[col.field] | date:'dd/MM/yyyy'}}</div>
						<div *ngIf="col.type !== 'Date'">
							<div *ngIf="col.field == 'statusDesc'">
								{{getStatusDesc(rowData)}}</div>
							<div *ngIf="col.field !== 'statusDesc'">
								{{rowData[col.field]}}</div>
						</div>
					</td>
					<td *ngIf="showActions">
						<p-button label="Col" (click)="showInvestigationDialog('Collection', rowData)"
							*ngIf="rowData.status != 0 && rowData.status != 2 "></p-button> &nbsp;
						<p-button label="Rej" (click)="showInvestigationDialog('Rejection', rowData)"
							*ngIf="rowData.status != 1"></p-button> &nbsp;
						<p-button label="Fin" (click)="showInvestigationDialog('Finalization', rowData)"
							*ngIf="rowData.status != 3"></p-button> &nbsp;
						<button type="button" pButton icon="fa fa-edit" 
							(click)="edit(rowData.id)"></button> &nbsp;
						<button type="button" pButton icon="fa fa-eraser"
							(click)="delete(rowData.id)"></button>
					</td>
				</tr>
			</ng-template> 
			<ng-template pTemplate="rowexpansion" let-parentRowData let-i="rowIndex" let-columns="columns">
			<tr>
				<td [attr.colspan]="columns.length + 2"><p-table
						[columns]="iTCols" [value]="parentRowData.investigationTests"
						[(selection)]="selectedInvestigations[i]"> <ng-template
						pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" [pSortableColumn]="col.field">
							{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
						</th>
						<th *ngIf="showActions">Action</th>
					</tr>
					</ng-template> <ng-template pTemplate="body" let-childRowData
						let-columns="columns">
					<tr>
						<td *ngFor="let col of columns" pEditableColumn><p-cellEditor
								*ngIf="col.field == 'result'"> <ng-template
								pTemplate="input"> <input type="text"
								[(ngModel)]="childRowData[col.field]"> </ng-template> <ng-template
								pTemplate="output">
							<div *ngIf="childRowData.result">
								<div
									*ngIf="getResult(childRowData) >= childRowData.labTest.criticalLow
										                 			&& getResult(childRowData) < childRowData.labTest.normalRangeMinimum">
									<font face="Arial" color="blue"><span>&#8595;{{childRowData[col.field]}}</span></font>
								</div>
								<div
									*ngIf="getResult(childRowData) < childRowData.labTest.criticalLow">
									<font face="Arial" color="red"><span>&#8595;C
											{{childRowData[col.field]}}</span></font>
								</div>
								<div
									*ngIf="getResult(childRowData) >= childRowData.labTest.normalRangeMinimum
										                    		&& getResult(childRowData) <= childRowData.labTest.normalRangeMinimum">
									{{childRowData[col.field]}}</div>
								<div
									*ngIf="getResult(childRowData) <= childRowData.labTest.criticalHigh 
										                 			&& getResult(childRowData) > childRowData.labTest.normalRangeMaximum">
									<font face="Arial" color="blue"><span>&#8593;{{childRowData[col.field]}}</span></font>
								</div>
								<div
									*ngIf="getResult(childRowData) > childRowData.labTest.criticalHigh">
									<font face="Arial" color="red"><span>&#8593;C
											{{childRowData[col.field]}}</span></font>
								</div>
							</div>
							</ng-template> </p-cellEditor> <p-cellEditor
								*ngIf="col.field == 'interpretation' || col.field == 'impression'">
							<ng-template pTemplate="input"> <input type="text"
								[(ngModel)]="childRowData[col.field]"> </ng-template> <ng-template
								pTemplate="output"> {{childRowData[col.field]}} </ng-template> </p-cellEditor> <p-cellEditor
								*ngIf="col.field !== 'result' && col.field !== 'interpretation' && col.field !== 'impression'">
							<ng-template pTemplate="input">
								<div *ngIf="col.type === 'Date'">{{childRowData[col.field] | date:'dd/MM/yyyy'}}</div>
								<div *ngIf="col.type !== 'Date'"> {{childRowData[col.field]}}</div>
							</ng-template> 
							<ng-template pTemplate="output">
								<div *ngIf="col.type === 'Date'">{{childRowData[col.field] | date:'dd/MM/yyyy'}}</div>
								<div *ngIf="col.type !== 'Date'">{{childRowData[col.field]}}</div>
							</ng-template> 
						</p-cellEditor>
						</td>
						<td *ngIf="showActions">
							<p-button label="Save" (click)="saveResult(childRowData)"></p-button> &nbsp;
							<p-button label="Disp" (click)="saveResult(childRowData)"></p-button>
						</td>
					</tr>

				</ng-template> 
			</p-table>
			</td>
		</tr>
		</ng-template> </p-table>
	</div>
</div>

