<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg">
	</section>

		<div class="container" style="padding-left: 10px; max-width: 100%;">
	
	<div class="ui-grid-row">
		<div class="ui-g-2 ui-sm-4">
			<app-admin-menu></app-admin-menu>
		</div>
		<div class="ui-grid-row">
			<div class="ui-g-10 ui-sm-8" style="padding: 15px;">
				<div class="ui-grid ui-grid-responsive" *ngIf="investigation">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@itemNumber" for="itemNumber">{{itemNumberLabel}}<font color="red">*</font></label>
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									<input type="text" pInputText class="form-control" id="itemNumber" (change)="lookUpVisit()"
									[(ngModel)]="itemNumber" name="itemNumber" #itemNumberModel="ngModel">
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@patientName" for="patientName">Patient Name</label>
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									{{patient.name}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@patientBirthDate" for="patientSex">Sex</label>
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									{{patient.user.sex}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@patientSex" for="patientBirthDate">Birth Date: </label>
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									{{patient.user.birthDate | date:'dd/MM/yyyy'}}
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>				
						</div>
						
					</div>

					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@investigationDatetime" for="investigationDatetime">Invest. Date Time<font color="red">*</font></label> 
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									<p-calendar [(ngModel)]="investigation.investigationDatetime" [showTime]="true"></p-calendar>
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@name" for="name">Name</label> 
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									<input pInputText id="name" [(ngModel)]="investigation.name" required />							
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@description" for="description">Description</label> 
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									<textarea pInputTextarea id="description" rows="4" cols="40" pInputTextarea maxlength="1000" 
										[(ngModel)]="investigation.description" #notes="ngModel"> </textarea>							
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@labTest" for="labTest">Lab Test/Group<font color="red">*</font></label> 
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									<p-autoComplete [(ngModel)]="investigation.labTest" (ngModelChange)="populateLabTests($event)"
									(onDropdownClick)="labTestDropdown.handleDropdownClick($event)"
									[suggestions]="labTestDropdown.filteredLabTests" [dropdown]="true"
									id="labTest" (completeMethod)="labTestDropdown.filter($event)"
									name="labTest" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
									[minLength]="1"></p-autoComplete>
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
						<div class="ui-grid-col-4 ui-sm-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-3 ui-sm-12">
									<label i18n="@@labTest" for="labTest">Lab Test from Selected Group</label> 
								</div>
								<div class="ui-grid-col-8 ui-sm-12">
									<p-listbox [options]="labTests" optionLabel="name"></p-listbox>
								</div>
								<div class="ui-grid-col-1 ui-sm-12">
								</div>
							</div>
						</div>
					</div>
					
					<div *ngIf="error" class="alert alert-danger">{{error}}</div>
					<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
						<button type="button" pButton icon="fa-close" (click)="delete()"
							label="Supprimer"></button>
						<button type="button" pButton icon="fa-check" (click)="save()"
							label="Sauvegarder"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>