
<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="labTest">

		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label i18n="@@labTestMethod" for="labTestMethod">Method<font
							color="red">*</font></label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<p-autoComplete [(ngModel)]="labTest.labTestMethod"
							(onDropdownClick)="labTestMethodDropdown.handleDropdownClick($event)"
							[suggestions]="labTestMethodDropdown.filteredLabTestMethods"
							[dropdown]="true" id="labTestMethod"
							(completeMethod)="labTestMethodDropdown.filter($event)"
							name="labTestMethod" field="name" [size]="30"
							placeholder="{{SELECT_OPTION}}" [minLength]="1"></p-autoComplete>
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label i18n="@@labTestGroup" for="labTestGroup">Group<font
							color="red">*</font></label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<p-autoComplete [(ngModel)]="labTest.parent"
							(onDropdownClick)="labTestGroupDropdown.handleDropdownClick($event)"
							[suggestions]="labTestGroupDropdown.filteredLabTestGroups"
							[dropdown]="true" id="labTestGroup"
							(completeMethod)="labTestGroupDropdown.filter($event)"
							name="labTestGroup" field="name" [size]="30"
							placeholder="{{SELECT_OPTION}}" [minLength]="1"></p-autoComplete>
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label i18n="@@labTestUnit" for="labTestUnit">Unit<font
							color="red">*</font></label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<p-autoComplete [(ngModel)]="labTest.unit"
							(onDropdownClick)="labTestUnitDropdown.handleDropdownClick($event)"
							[suggestions]="labTestUnitDropdown.filteredLabTestUnits"
							[dropdown]="true" id="labTestUnit"
							(completeMethod)="labTestUnitDropdown.filter($event)"
							name="labTestUnit" field="name" [size]="30"
							placeholder="{{SELECT_OPTION}}" [minLength]="1"></p-autoComplete>
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
		</div>
		<br />
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="name">Name</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<input pInputText id="name" [(ngModel)]="labTest.name" required />
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="description">Description</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<textarea pInputTextarea id="description"
							[(ngModel)]="labTest.description"> </textarea>
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="rank">Status</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<p-radioButton name="status" value="0" label="Actif"
							[(ngModel)]="labTest.status"></p-radioButton>
						<p-radioButton name="status" value="1" label="Inactif"
							[(ngModel)]="labTest.status"></p-radioButton>
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="normalRangeMinimum">Normal Range Minimum</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<input pInputText id="normalRangeMinimum"
							[(ngModel)]="labTest.normalRangeMinimum" />
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="normalRangeMaximum">Normal Range Maximum</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<input pInputText id="normalRangeMaximum"
							[(ngModel)]="labTest.normalRangeMaximum" />
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="criticalLow">Critical Low</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<input pInputText id="criticalLow"
							[(ngModel)]="labTest.criticalLow" />
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
			<div class="ui-grid-col-4 ui-sm-12">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3 ui-sm-12">
						<label for="criticalHigh">Critical High</label>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">
						<input pInputText id="criticalHigh"
							[(ngModel)]="labTest.criticalHigh" />
					</div>
					<div class="ui-grid-col-1 ui-sm-12"></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div *ngIf="error" class="alert alert-danger">{{error}}</div>
	<div>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa fa-close" (click)="delete()"
				label="Supprimer"></button>
			&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-check" (click)="save()"
				label="Sauvegarder"></button>
		</div>
	</div>
</div>