
<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="assets/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.min.css">



		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/css/theme.css">
		<link rel="stylesheet" href="assets/css/theme-elements.css">
		<link rel="stylesheet" href="assets/css/theme-blog.css">
		<link rel="stylesheet" href="assets/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="assets/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="assets/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="assets/vendor/rs-plugin/css/navigation.css">
		
		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="assets/css/skins/default.css"> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.min.js"></script>

    </head>

    <body>
        <app-web-header></app-web-header>
        <div class="container">
            <div class="row pt-3">
                <br/>
                <br/>
                <div class="col-lg-4">

                </div>
                <div class="col-lg-8">

                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" validate>
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="form-group">
                                    <label for="email">{{ 'COMMON.E_MAIL' | translate }}<font color="red">*</font></label> 
                                    <input type="text" pInputText class="form-control" id="email" required 
                                        [(ngModel)]="user.userName" name="email" #email="ngModel">
                                    <p-message *ngIf="f.submitted && email.invalid" severity="error" text="Field is required"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="form-group">
                                    <label for="password">{{ 'COMMON.PASSWORD' | translate }} <font color="red">*</font></label> 
                                    <input type="password" pInputText class="form-control" id="password" required
                                        [(ngModel)]="user.password" name="password" #password="ngModel">
                                    <p-message *ngIf="f.submitted && password.invalid" severity="error" text="Field is required"></p-message>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button pButton type="submit" icon="fa fa-play-circle" label="{{ 'COMMON.SUBMIT' | translate }}"></button>
                            <br/>
                            <br/>
                            <!--						
                            Vous avez oublier votre mot de passe? Clicker sur le bouton <button pButton (click)="button='password'" icon="fa fa-play-circle" label="{{SEND_ME_MY_PASSWORD}}"></button>
                            -->
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <app-web-footer></app-web-footer>
    </body>

</html>
