<div class="ui-grid-row">
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="medicine">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<div class="form-group">
						<label i18n="@@category" for="category">Category<font color="red">*</font></label> 
						<p-autoComplete [(ngModel)]="medicine.category"
							(onDropdownClick)="categoryDropdown.handleDropdownClick($event)"
							[suggestions]="categoryDropdown.filteredCategories" [dropdown]="true"
							id="medicine" (completeMethod)="categoryDropdown.filter($event)"
							name="medicine" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
							[minLength]="1"></p-autoComplete>
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<div class="form-group">
						<label i18n="@@manufacturer" for="manufacturer">Manufacturer<font color="red">*</font></label> 
						<p-autoComplete [(ngModel)]="medicine.manufacturer"
							(onDropdownClick)="manufacturerDropdown.handleDropdownClick($event)"
							[suggestions]="manufacturerDropdown.filteredManufacturers" [dropdown]="true"
							id="manufacturer" (completeMethod)="manufacturerDropdown.filter($event)"
							name="manufacturer" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
							[minLength]="1"></p-autoComplete>
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<div class="form-group">
						<label i18n="@@name" for="name">Name<font color="red">*</font></label>
						<input pInputText id="name" [(ngModel)]="medicine.name" required />
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<div class="form-group">
						<label i18n="@@description" for="description">Description</label>
						<textarea pInputTextarea id="description" [(ngModel)]="medicine.description"> </textarea>
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 ui-sm-12">
					<div class="form-group">
						<label i18n="@@price" for="price">Price</label>
						<input pInputText id="price" [(ngModel)]="medicine.price" required />
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<label i18n="@@status" for="status">Status</label>
			</div>
			<div class="ui-grid-row">
				<p-radioButton name="status" value="0" label="Actif" [(ngModel)]="medicine.status"></p-radioButton>
				<p-radioButton name="status" value="1" label="Inactif" [(ngModel)]="medicine.status"></p-radioButton>
			</div>
		</div>
		<br />
		<div *ngIf="error" class="alert alert-danger">{{error}}</div>
		<div>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa fa-close" (click)="delete()"
					label="Supprimer"></button>
				<button type="button" pButton icon="fa fa-check" (click)="save()"
					label="Sauvegarder"></button>
			</div>
		</div>
	</div>
</div>
