<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="pckage">
		<p-messages [(value)]="messages"></p-messages>
		<div class="ui-grid-row">
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="name">{{ 'COMMON.NAME' | translate }}<font color="red">*</font></label>
					<input pInputText [(ngModel)]="pckage.name"  name="name"  #name="ngModel" required />
					<p-message *ngIf="f.submitted && name.invalid" severity="error" text="Field is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="description">{{ 'COMMON.DESCRIPTION' | translate }}</label>
					<textarea pInputTextarea id="description" [(ngModel)]="pckage.description" name="description"  #description="ngModel"> </textarea>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="quantity">{{ 'COMMON.DISCOUNT' | translate }}</label>
					<input pInputText id="discount" [(ngModel)]="pckage.discount" name="discount"  #discount="ngModel" />
				</div>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<div class="ui-grid-row">
		<div class="ui-grid-col-12 ui-sm-12">
			<p-table [columns]="serviceCols" [value]="pckage.packageServices">	
				<ng-template pTemplate="caption">
			        {{ 'COMMON.PACKAGE_LIST' | translate }}
			    </ng-template>
			    <ng-template pTemplate="header" let-serviceCols>
			        <tr>
			            <th *ngFor="let col of serviceCols" [pSortableColumn]="col.field">
			                {{col.header}}
			                <p-sortIcon [field]="col.field"></p-sortIcon>
			            </th>
			            <th>Action</th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-rowData let-columns="columns">
			        <tr>			           
			            <td *ngFor="let col of columns" [pEditableColumn]="rowData" [pEditableColumnField]="rowData[col.field]">
			            	<p-cellEditor *ngIf="col.field != 'service' && col.field != 'quantity' && col.field != 'rate'">
			                    <ng-template pTemplate="input">
			                        <input type="text" [(ngModel)]="rowData[col.field]" [disabled]="col.isDisabled" name="{{col.field}}">
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{rowData[col.field]}}
			                    </ng-template>
			                </p-cellEditor>
			                <p-cellEditor *ngIf="col.field == 'quantity' || col.field == 'rate'">
			                    <ng-template pTemplate="input">
			                        <input type="text" [(ngModel)]="rowData[col.field]" [disabled]="col.isDisabled" name="{{col.field}}">
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{rowData[col.field]}}
			                    </ng-template>
			                </p-cellEditor>
			                <p-cellEditor *ngIf="col.field == 'service'">
			                    <ng-template pTemplate="input">
			                        <p-autoComplete [(ngModel)]="rowData[col.field]"
										(onDropdownClick)="serviceDropdown.handleDropdownClick($event)"
										[suggestions]="serviceDropdown.filteredServices" [dropdown]="true"
										(completeMethod)="serviceDropdown.filter($event)"
										name="name" field="name" [size]="30" placeholder=""
										[minLength]="1">
									</p-autoComplete>
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{rowData[col.field].name}}
			                    </ng-template>
			                </p-cellEditor>
			            </td>
			            <td>
			            	<button type="button" pButton icon="fa fa-plus" (click)="addRow()"></button>&nbsp;
							<button type="button" pButton icon="fa fa-eraser"></button>
			            </td>
			        </tr>
			    </ng-template>
			</p-table>
		</div>
	</div>
	
	<br/>
	<br />
	<div>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa fa-close" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;
			<button pButton icon="fa fa-check" label="{{ 'COMMON.SAVE' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-close" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>
		</div>
	</div>
</form>