<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg">
	</section>

		<div class="container" style="padding-left: 10px; max-width: 100%;">

	<section class="call-to-action featured featured-secondary mb-5"
		style="border-radius: 8px; padding:10px;" *ngIf="vote">
		<div class="col-sm-9 col-lg-9 text-center">
			<div class="call-to-action-content" style="width:100%;" >
				<h3>
					<strong>Il y a des scrutins qui vous attendent</strong>
				</h3>
				<p class="mb-0">
					Faites votre <strong>devoir civique</strong> en votant
			</div>
		</div>
		<div class="col-sm-3 col-lg-3 text-left">
			<div class="call-to-action-btn">
				<a href="#/vote" class="btn btn-lg btn-secondary">Je vote
					maintenant!</a>
			</div>
		</div>
	</section>
	
	<div class="ui-grid-row">
		<div class="ui-g-2 ui-sm-4">
			<app-admin-menu></app-admin-menu>
		</div>
		<div class="ui-g-10 ui-sm-8" style="padding: 15px;">
			<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="patientAdmission">
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label i18n="@@patientMatricule" for="patientMatricule">Patient ID<font color="red">*</font></label>
							<input type="text" pInputText class="form-control" id="patientMatricule" (change)="lookUpPatient()"
								[(ngModel)]="patientAdmission.patient.matricule" name="patientMatricule" #patientMatricule="ngModel">
						</div>
						<div class="form-group">
							<label i18n="@@patientName" for="patientName">Patient Name</label>
							<input type="text" pInputText class="form-control" id="matricule"
								[(ngModel)]="patientAdmission.patient.name" name="patientName" #patientName="ngModel">
						</div>
						<div class="form-group">
							<label i18n="@@patientBirthDate" for="patientSex">Sex</label>
							<input type="text" pInputText class="form-control" id="patientSex"
								[(ngModel)]="patientAdmission.patient.user.sex" name="patientSex" #patientSex="ngModel">
						</div>
						<div class="form-group">
							<label i18n="@@patientSex" for="patientBirthDate">Birth Date</label>
							<input type="text" pInputText class="form-control" id="patientBirthDate"
								[(ngModel)]="patientAdmission.patient.user.birthDate" name="patientBirthDate" #patientBirthDate="ngModel">
						</div>
						
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label i18n="@@doctor" for="doctor">Doctor<font color="red">*</font></label> 
							<p-autoComplete [(ngModel)]="patientAdmission.doctor"
							(onDropdownClick)="doctorDropdown.handleDropdownClick($event)"
							[suggestions]="doctorDropdown.filteredDoctors" [dropdown]="true"
							id="doctor" (completeMethod)="doctorDropdown.filter($event)"
							name="doctor" field="name" [size]="30" placeholder="{{SELECT_OPTION}}"
							[minLength]="1"></p-autoComplete>
						</div>
						<div class="form-group">
							<label i18n="@@bloodPressure" for="bloodPressure">Blood Pressure<font color="red">*</font>
							</label> <input type="text" pInputText class="form-control" id="bloodPressure"
								[(ngModel)]="prescription.bloodPressure" name="bloodPressure" #bloodPressure="ngModel">
						</div>
						<div class="form-group">
							<label i18n="@@reference" for="reference">Reference<font color="red">*</font>
							</label> <input type="text" pInputText class="form-control" id="reference"
								[(ngModel)]="prescription.reference" name="reference" #reference="ngModel">
						</div>
						<div class="ui-grid-row">
							<label i18n="@@prescriptionType" for="prescriptionType">Prescription Type</label>
						</div>
						<div class="ui-grid-row">
							<p-radioButton name="prescriptionType" value="0" label="New" [(ngModel)]="prescription.prescriptionType"></p-radioButton>
							<p-radioButton name="prescriptionType" value="1" label="Old" [(ngModel)]="prescription.prescriptionType"></p-radioButton>
						</div>
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label i18n="@@contactName" for="contactName">Contact Name</label> 
							<input type="text" pInputText class="form-control" id="contactName"
								[(ngModel)]="patientAdmission.contactName" name="contactName" #contactName="ngModel">
						</div>
						<div class="form-group">
							<label i18n="@@contactRelation" for="contactRelation">Contact Relation</label> 
							<input type="text" pInputText class="form-control" id="contactRelation"
								[(ngModel)]="patientAdmission.contactRelation" name="contactRelation" #contactRelation="ngModel">
						</div>
						<div class="form-group">
							<label i18n="@@contactPhone" for="contactPhone">Contact Phone</label> 
							<input type="text" pInputText class="form-control" id="contactPhone"
								[(ngModel)]="patientAdmission.contactPhone" name="contactPhone" #contactPhone="ngModel">
						</div>					
						<div class="form-group">
							<label i18n="@@contactAddress" for="contactAddress">Contact Address</label> 
							<input type="text" pInputText class="form-control" id="contactAddress"
								[(ngModel)]="patientAdmission.contactAddress" name="contactAddress" #contactAddress="ngModel">
						</div>
						
					</div>
				</div>
			</div>
			
			<br/>
			<br />
			
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton icon="fa-close" (click)="delete()"
						label="Supprimer"></button>
					<button type="button" pButton icon="fa-check" (click)="save()"
						label="Sauvegarder"></button>
				</div>
			</div>
		</div>
	</div>
</div>
