<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-fieldset legend="Search Criteria">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label i18n="@@lastName" for="lastName">Last Name:
					</label> <input type="text" pInputText class="form-control" id="lastName"
						 [(ngModel)]="searchCriteria.lastName" name="lastName" >
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label i18n="@@firstName" for="firstName">First Name:
					</label> <input type="text" pInputText class="form-control" id="firstName"
						 [(ngModel)]="searchCriteria.firstName" name="firstName">
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label i18n="@@birthDate" for="birthDate">Birth Date:
					</label> <p-calendar [(ngModel)]="searchCriteria.birthDate" id="birthDate"
								name="birthDate" #birthDate="ngModel"></p-calendar>
				</div>
			</div>
			<div>
				<button pButton icon="fa fa-search" label="Search" (click)="search()"></button>
			</div>
		</div>
	</p-fieldset>
	<br/>
	<br/>
	<p-table [columns]="cols" [value]="patients" [responsive]="true">
		<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns" [pSortableColumn]="col.field">
				{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
			</th>
			<th>Action</th>
		</tr>
		</ng-template> <ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr>
			<td *ngFor="let col of columns">
				<div *ngIf="col.type != 'date'">
	               	{{rowData[col.field]}}
	               </div>
	               <div *ngIf="col.type == 'date'">
	               	{{rowData[col.field] | date:'dd/MM/yyyy'}}
	               </div>
			</td>
			<td>
				<button type="button" pButton icon="fa-edit" style="float: left"
					(click)="edit(rowData.id)"></button>
				<button type="button" pButton icon="fa-eraser" style="float: left"
					(click)="delete(rowData.id)"></button>
			</td>
		</tr>
		</ng-template> 
	</p-table>
</div>


