
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prescription">
		<p-messages [(value)]="messages"></p-messages>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="prescriptionDatetime">{{ 'COMMON.PRESCRIPTION_DATETIME' | translate }}<font color="red">*</font></label> 
					<p-calendar [(ngModel)]="prescription.prescriptionDatetime" [showTime]="true" required
						name="prescriptionDatetime"  #prescriptionDatetime="ngModel"></p-calendar>
					<p-message *ngIf="invalidDatetime" severity="error" text="Field is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">							
					<label for="prescriptionType">{{ 'COMMON.PRESCRIPTION_TYPE' | translate }}<font color="red">*</font></label> 
					<div class="ui-grid-row">
						<p-radioButton name="prescriptionType" value="NEW" label="New" [(ngModel)]="prescription.prescriptionType"
							name="prescriptionType"  #prescriptionType="ngModel" required></p-radioButton>
						<p-radioButton name="prescriptionType" value="OLD" label="Old" [(ngModel)]="prescription.prescriptionType"
							name="prescriptionType"  #prescriptionType="ngModel" required></p-radioButton>
					</div>
					<p-message *ngIf="invalidType" severity="error" text="Field is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">	
					<br/>						
					<p-checkbox id="status" [(ngModel)]="prescription.isDischarge" binary="true" 
						label="{{ 'COMMON.IS_DISCHARGE' | translate }}"></p-checkbox>
				</div>
			</div>
			<div class="ui-grid-col-6 ui-sm-12">
				<div class="form-group">									
					<label for="notes">{{ 'COMMON.NOTES' | translate }}</label> 
					<textarea pInputTextarea id="notes" rows="3" cols="60" pInputTextarea maxlength="1000" 
								[(ngModel)]="prescription.notes" name="notes" #notes="ngModel"> </textarea>							
				</div>
			</div>
		</div>
		<br/>
		<div class="ui-grid-row">
			<div class="ui-grid-col-12 ui-sm-12">
				<p-table [columns]="medicineCols" [value]="prescription.prescriptionMedicines">
					<ng-template pTemplate="caption">
				        {{ 'COMMON.MEDICINE_LIST' | translate }}
				    </ng-template>
				    <ng-template pTemplate="header" let-medicineCols>
				        <tr>
				            <th *ngFor="let col of medicineCols" [pSortableColumn]="col.field">
				                {{col.header}}
				                <p-sortIcon [field]="col.field"></p-sortIcon>
				            </th>
				            <th>Action</th>
				        </tr>
				    </ng-template>
				    <ng-template pTemplate="body" let-rowData let-columns="columns">
				        <tr>			           
				            <td *ngFor="let col of columns" pEditableColumn>
				            	<p-cellEditor *ngIf="col.field == 'quantity' || col.field == 'numberOfDays' ">
				                    <ng-template pTemplate="input">
				                        <input type="number" [(ngModel)]="rowData[col.field]" min="0">
				                    </ng-template>
				                    <ng-template pTemplate="output">
				                        {{rowData[col.field]}}
				                    </ng-template>
				                </p-cellEditor>
				            	<p-cellEditor *ngIf="col.field == 'dosage' || col.field == 'frequency' ">
				                    <ng-template pTemplate="input">
				                        <input type="text" [(ngModel)]="rowData[col.field]" >
				                    </ng-template>
				                    <ng-template pTemplate="output">
				                        {{rowData[col.field]}}
				                    </ng-template>
				                </p-cellEditor>
				                <p-cellEditor *ngIf="col.field == 'medicineType'">
				                    <ng-template pTemplate="input">
				                        {{rowData[col.field]}}
				                    </ng-template>
				                    <ng-template pTemplate="output">
				                        {{rowData[col.field]}}
				                    </ng-template>
				                </p-cellEditor>
				                <p-cellEditor *ngIf="col.field == 'medicine'">
				                    <ng-template pTemplate="input">
				                        <p-autoComplete [(ngModel)]="rowData[col.field]"
											(onDropdownClick)="medicineDropdown.handleDropdownClick($event)"
											[suggestions]="medicineDropdown.filteredMedicines" [dropdown]="true"
											(completeMethod)="medicineDropdown.filter($event)"
											name="name" field="name" [size]="30" placeholder=""
											[minLength]="1">
										</p-autoComplete>
				                    </ng-template>
				                    <ng-template pTemplate="output">
				                        {{rowData[col.field].name}}
				                    </ng-template>
				                </p-cellEditor>
				            </td>
				            <td>
				            	<button type="button" pButton icon="fa fa-plus" (click)="addNewMedicineRow()"></button>&nbsp;&nbsp;
								<button type="button" pButton icon="fa fa-eraser"></button>
				            </td>
				        </tr>
				    </ng-template>
				</p-table>
			</div>
		</div>
	
		<br/>
		<br />
			
		<div class="ui-grid-row">
			<div class="ui-grid-col-12 ui-sm-12">
				<p-table [columns]="diagnosisCols" [value]="prescription.prescriptionDiagnoses">
					<ng-template pTemplate="caption">
				        {{ 'COMMON.DIAGNOSIS_LIST' | translate }}
				    </ng-template>
				    <ng-template pTemplate="header" let-diagnosisCols>
				        <tr>
				            <th *ngFor="let col of diagnosisCols" [pSortableColumn]="col.field">
				                {{col.header}}
				                <p-sortIcon [field]="col.field"></p-sortIcon>
				            </th>
				            <th>Action</th>
				        </tr>
				    </ng-template>
				    <ng-template pTemplate="body" let-rowData let-columns="columns">
				        <tr>			           
				            <td *ngFor="let col of columns" pEditableColumn>
				            	<p-cellEditor>
				                    <ng-template pTemplate="input">
				                        <input type="text" [(ngModel)]="rowData[col.field]">
				                    </ng-template>
				                    <ng-template pTemplate="output">
				                        {{rowData[col.field]}}
				                    </ng-template>
				                </p-cellEditor>
				            </td>
				            <td>
				            	<button type="button" pButton icon="fa fa-plus" (click)="addNewDiagnosisRow()"></button>&nbsp;&nbsp;
								<button type="button" pButton icon="fa fa-eraser"></button>
				            </td>
				        </tr>
				    </ng-template>
				</p-table>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-refresh" (click)="addNew()" label="Effacer"></button>&nbsp;&nbsp;
		<button pButton icon="fa fa-save" (click)="save()" label="Save"></button>&nbsp;&nbsp;
		<button type="button" pButton icon="fa fa-remove" (click)="delete()" label="Delete"></button>
	</div>

