<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg">
	</section>

		<div class="container" style="padding-left: 10px; max-width: 100%;">

	<section class="call-to-action featured featured-secondary mb-5"
		style="border-radius: 8px; padding:10px;" *ngIf="vote">
		<div class="col-sm-9 col-lg-9 text-center">
			<div class="call-to-action-content" style="width:100%;" >
				<h3>
					<strong>Il y a des scrutins qui vous attendent</strong>
				</h3>
				<p class="mb-0">
					Faites votre <strong>devoir civique</strong> en votant
			</div>
		</div>
		<div class="col-sm-3 col-lg-3 text-left">
			<div class="call-to-action-btn">
				<a href="#/vote" class="btn btn-lg btn-secondary">Je vote
					maintenant!</a>
			</div>
		</div>
	</section>
	
	<div class="ui-grid-row">
		<div class="ui-g-2 ui-sm-4">
			<app-admin-menu></app-admin-menu>
		</div>
		<div class="ui-g-10 ui-sm-8" style="padding: 15px;">
			<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="caseStudy">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@patientId" for="patientId">Patient ID<font color="red">*</font></label>
							<input type="text" pInputText class="form-control" id="matricule"
								[(ngModel)]="caseStudy.patient.id" name="patientId" #patientId="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@foodAllergies" for="foodAllergies">Food Allergies</label>
							<input type="text" pInputText class="form-control" id="foodAllergies"
								[(ngModel)]="caseStudy.foodAllergies" name="foodAllergies" #foodAllergies="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@tendencyBleed" for="tendencyBleed">Tendency Bleed</label>
							<input type="text" pInputText class="form-control" id="tendencyBleed"
								[(ngModel)]="caseStudy.tendencyBleed" name="tendencyBleed" #tendencyBleed="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@heartDisease" for="heartDisease">Heart Disease</label>
							<input type="text" pInputText class="form-control" id="heartDisease"
								[(ngModel)]="caseStudy.heartDisease" name="heartDisease" #heartDisease="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@highBloodPressure" for="highBloodPressure">High Blood Pressure</label>
							<input type="text" pInputText class="form-control" id="highBloodPressure"
								[(ngModel)]="caseStudy.highBloodPressure" name="highBloodPressure" #highBloodPressure="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@diabetic" for="diabetic">Diabetic</label>
							<input type="text" pInputText class="form-control" id="diabetic"
								[(ngModel)]="caseStudy.diabetic" name="diabetic" #diabetic="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@surgery" for="surgery">Surgery</label>
							<input type="text" pInputText class="form-control" id="surgery"
								[(ngModel)]="caseStudy.surgery" name="surgery" #surgery="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@accident" for="accident">Accident</label>
							<input type="text" pInputText class="form-control" id="accident"
								[(ngModel)]="caseStudy.accident" name="accident" #accident="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@others" for="others">Others</label>
							<input type="text" pInputText class="form-control" id="others"
								[(ngModel)]="caseStudy.others" name="others" #others="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@familyMedicalHistory" for="familyMedicalHistory">Family Medical History</label>
							<input type="text" pInputText class="form-control" id="familyMedicalHistory"
								[(ngModel)]="caseStudy.familyMedicalHistory" name="familyMedicalHistory" #familyMedicalHistory="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@currentMedication" for="currentMedication">Current Medication</label>
							<input type="text" pInputText class="form-control" id="currentMedication"
								[(ngModel)]="caseStudy.currentMedication" name="currentMedication" #currentMedication="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@femalePregnancy" for="femalePregnancy">Female Pregnancy</label>
							<input type="text" pInputText class="form-control" id="femalePregnancy"
								[(ngModel)]="caseStudy.femalePregnancy" name="femalePregnancy" #femalePregnancy="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@breastFeeding" for="breastFeeding">Breast Feeding</label>
							<input type="text" pInputText class="form-control" id="breastFeeding"
								[(ngModel)]="caseStudy.breastFeeding" name="breastFeeding" #breastFeeding="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@healthInsurance" for="healthInsurance">Health Insurance</label>
							<input type="text" pInputText class="form-control" id="healthInsurance"
								[(ngModel)]="caseStudy.healthInsurance" name="healthInsurance" #healthInsurance="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@lowIncome" for="lowIncome">Low Income</label>
							<input type="text" pInputText class="form-control" id="lowIncome"
								[(ngModel)]="caseStudy.lowIncome" name="lowIncome" #lowIncome="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 ui-sm-12">
						<div class="form-group">
							<label i18n="@@reference" for="reference">Reference</label>
							<input type="text" pInputText class="form-control" id="reference"
								[(ngModel)]="caseStudy.reference" name="reference" #reference="ngModel">
						</div>
					</div>
				</div>
				<div class="ui-grid-row">
					<label i18n="@@status" for="status">Status</label>
				</div>
				<div class="ui-grid-row">
					<p-radioButton name="status" value="0" label="Actif" [(ngModel)]="caseStudy.status"></p-radioButton>
					<p-radioButton name="status" value="1" label="Inactif" [(ngModel)]="caseStudy.status"></p-radioButton>
				</div>
			</div>
			<br />
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton icon="fa-close" (click)="delete()"
						label="Supprimer"></button>
					<button type="button" pButton icon="fa-check" (click)="save()"
						label="Sauvegarder"></button>
				</div>
			</div>
		</div>
	</div>
</div>
