<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg"></section>
	<div class="container" style="padding-left: 0px;">
		<div class="row">
			<div class="col-lg-8 col-sm-8 text-center">
				<p class="text-color-primary">
					<a href="#">{{currProject.title}} </a>
				</p>
			</div>
			<div class="col-lg-4 col-sm-4 text-center">
				<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary"
					(click)="getPrevious()">
					<i class="fa fa-chevron-circle-left"></i>
				</button>
				<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary"
					(click)="getNext()">
					<i class="fa fa-chevron-circle-right"></i>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="ui-grid-col-4 ui-sm-1"></div>
			<div class="ui-grid-col-4 ui-sm-10">
				<p-chart type="pie" [data]="currProject.pdata"></p-chart>
			</div>
			<div class="ui-grid-col-4 ui-sm-1"></div>
		</div>
		<div class="ui-grid-row">
			<p-accordion> <p-accordionTab
				header="{{currProject.title + ' - Budget: $'+ (currProject.budget |number : '1.0-0') + ' - Cotisations: $'+ (currProject.totalContributions |number : '1.0-0')+ ' - Depenses: $'+ (currProject.totalExpenses |number : '1.0-0')}}">

	 
			
			
				<div class="ui-grid-row" *ngIf="currProject.pics&&currProject.pics.length>0">
					<div class="ui-g-2 ui-sm-12"  *ngFor="let image of currProject.pics">
						<span class="thumb-info thumb-info-centered-icons"> <span
							class="thumb-info-wrapper"> <img
								src="{{image.source}}" alt=""> <span
								class="thumb-info-action"> <a href="#/projects"
									(click)="showLarge(image)"> <span
										class="thumb-info-action-icon thumb-info-action-icon-primary"
										title=""><i class="fa fa-search"></i></span>
								</a>
							</span>
						</span>
						</span>
					</div>
				</div>
			
							<div class="divider divider-style-3 divider-secondary taller"
					*ngIf="currProject.pics&&currProject.pics.length>0">
					<i class="fa fa-chevron-down"></i>
				</div>

			<div class="ui-grid-row">
				<div class="ui-grid-col-6 ui-sm-12">
					<div class="progress">
						Cotisations
						<div class="progress-bar bg-info" role="progressbar"
							style="width: 100%" aria-valuenow="100" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<p-dataTable [value]="currProject.contributions" [rows]="4"
						selectionMode="single" [rows]="4" [paginator]="true">
					<p-column [style]="{'width':'75%'}" field="member" header="Nom"></p-column>
					<p-column [style]="{'width':'25%'}" field="amount"
						header="Montant ($)"> <ng-template let-col
						let-data="rowData" pTemplate="item"> <span
						class="col-currency">{{ data[col.field ] |number : '1.2-2'
						}}</span> </ng-template> </p-column> </p-dataTable>
				</div>

				<div class="ui-grid-col-6 ui-sm-12">
					<div class="progress">
						Depenses
						<div class="progress-bar bg-info" role="progressbar"
							style="width: 100%" aria-valuenow="100" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<p-dataTable [value]="currProject.expenses" [rows]="4" [rows]="4"
						selectionMode="single" [paginator]="true"> <p-column
						[style]="{'width':'25%'}" field="createDate" header="Date">

					<ng-template let-col let-cont="rowData" pTemplate="body">
					<span class="col-date">{{ cont[ col.field ] |
						date:'dd/MM/yy' }}</span> </ng-template> </p-column> <p-column [style]="{'width':'25%'}"
						field="amount" header="Montant ($)"> <ng-template
						let-col let-data="rowData" pTemplate="item"> <span
						class="col-currency">{{ data[col.field ] |number : '1.2-2'
						}}</span> </ng-template> </p-column> <p-column [style]="{'width':'50%'}" field="comment"
						header="Notes"></p-column></p-dataTable>

				</div>

			</div>

			<div [innerHTML]="currProject.description"></div>

			</p-accordionTab> </p-accordion>
		</div>
	</div>
</div>



<p-dialog header="Kozaɣ Yɔɔ Kandiyaa" [(visible)]="displayPic"
	[responsive]="true" [modal]="true" width="750">
<div class="row">
	<div class="col-lg-12 col-sm-12 text-right">
		<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary"
			(click)="getPreviousPic()">
			<i class="fa fa-chevron-circle-left"></i>
		</button>
		<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary"
			(click)="getNextPic()">
			<i class="fa fa-chevron-circle-right"></i>
		</button>
	</div>
</div>
<img alt="{{picture.title}}" src="{{picture.source}}" width="100%"
	alt=""> </p-dialog>
