<div class="ui-grid-row"> 
		<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
			<p-table [columns]="cols" [value]="schedules" dataKey="doctorName">
			    <ng-template pTemplate="header" let-columns>
			        <tr>
			            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
			                {{col.header}}
			                <p-sortIcon [field]="col.field"></p-sortIcon>
			            </th>
			            <th>Action</th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
			        <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.doctorName].index === rowIndex">
			            <td colspan="8">
			                <a href="#" [pRowToggler]="rowData">
			                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
			                    <span>{{rowData.doctorName}}</span>
			                </a>
			            </td>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex" let-columns="columns">
			        <tr>		           
			            <td *ngFor="let col of columns">
		                	{{rowData[col.field]}}
			            </td>
			            <td>
			            	<button type="button" pButton icon="fa fa-edit" style="float: left"
								(click)="edit(rowData.id)"></button>&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" pButton icon="fa fa-eraser" style="float: left"
								(click)="delete(rowData.id)"></button>
			            </td>
			        </tr>
			    </ng-template>
			</p-table>
		</div>
	</div>
 