<div class="ui-grid-row"> 
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<p-table [value]="services">
			<ng-template pTemplate="caption">
		        {{ 'COMMON.SERVICE_LIST' | translate }}
		    </ng-template>
		    <ng-template pTemplate="header">
		        <tr>
		            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
		                {{col.header}}
		                <p-sortIcon [field]="col.field"></p-sortIcon>
		            </th>
		            <th>Action</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-service>
		        <tr>
		            <td *ngFor="let col of cols">
		                    {{service[col.field]}}
		            </td>
		            <td>
		            	<button type="button" pButton icon="fa-edit" style="float: left"
							(click)="edit(service.id)"></button>
						<button type="button" pButton icon="fa-eraser" style="float: left"
							(click)="delete(service.id)"></button>
		            </td>
		        </tr>
		    </ng-template>
		</p-table>
	</div>
</div>

