
        <app-web-header></app-web-header>
        <div role="main" class="main">
				<section class="section-secondary custom-section-padding">
					<div class="container">
						<div class="row mb-4">
							<div class="col">
                                <h2 class="font-weight-bold text-color-dark mb-3" 
                                *ngIf="sectionItems !== null && sectionItems.length > 0">* {{sectionItems[0].section.title}}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4"  *ngFor="let sectionItem of sectionItems">
								<a class="text-decoration-none" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
									<div class="feature-box custom-feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<img src="assets/docs/SectionItem/{{sectionItem.fileLocation}}" alt="">
										</div>
										<div class="feature-box-info ml-3">
											<h4 class="font-weight-normal text-5">{{sectionItem.title}}</h4>
											<div class="text-2" innerHtml="{{sectionItem.description}}"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</section>			
        </div>
        <br/>
        <br/>
        <app-web-footer></app-web-footer>
   
