<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg"></section>
 
		<div class="ui-grid-row">
			<div class="ui-g-1 ui-sm-1"></div>
			<div class="ui-g-10 ui-sm-10">

				<h2>Kozah en images et videos</h2>

				<div class="divider divider-style-3 divider-secondary taller">
					<i class="fa fa-chevron-down"></i>
				</div>

				<div class="row justify-content-center">
					<div class="ui-g-3 ui-sm-12" *ngFor="let image of images">
						<span class="thumb-info thumb-info-centered-icons"> <span
							class="thumb-info-wrapper"> <img
								src="assets/images/gallery/{{image.pic}}"
								alt="{{image.description}}"> <span
								class="thumb-info-action"> <a href="#/videoImage"
									(click)="showLarge(image)"> <span
										class="thumb-info-action-icon thumb-info-action-icon-primary"
										title=""><i class="fa fa-search"></i></span>
								</a>
							</span>
						</span>
						<h4 style="font-size: 1.2em;font-weight: 200; color:#89b837;"> {{image.title}} </h4>
						</span>
					</div>
				</div>



				<div class="divider divider-style-3 divider-secondary taller">
					<i class="fa fa-chevron-down"></i>
				</div>


				<div class="row">
					<div class="col-md-12 col-lg-3" *ngFor="let video of videos">					 
						<div class="embed-responsive-borders">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
									[src]="sanitize(video.link)"></iframe>
							</div>
						</div>
						<h4 style="font-size: 1.2em;font-weight: 200; color:#89b837;">[{{video.videoDate|date:'dd/MM/yyyy'}}] {{video.description}} </h4>
					</div>
				</div>
			</div>
			<div class="ui-g-1 ui-sm-1"></div>
		</div>
 
</div>

<p-dialog header="{{image.description}}" [(visible)]="displayPic"
	[responsive]="true" [modal]="true" width="850">
<div class="row">
	<div class="col-lg-12 col-sm-12 text-right">
		<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary"
			(click)="getPreviousPic()">
			<i class="fa fa-chevron-circle-left"></i>
		</button>
		<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary"
			(click)="getNextPic()">
			<i class="fa fa-chevron-circle-right"></i>
		</button>
	</div>
</div>
<img alt="{{image.description}}"
	src="assets/images/gallery/{{image.pic}}" width="100%" alt=""> </p-dialog>