<form name="form" (ngSubmit)="f.form.valid && validate() && save()" #f="ngForm" validate>
	<div class="ui-grid ui-grid-responsive ui-fluid">
		<p-messages [(value)]="messages"></p-messages>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 ui-sm-12" *ngIf="admission">
				<div class="form-group">
					<label for="vitalSignDatetime">{{ 'COMMON.VITAL_SIGN_DATE_TIME' | translate }}<font color="red">*</font></label> 
					<p-calendar [(ngModel)]="vitalSign.vitalSignDatetime" [showTime]="true" name="vitalSignDatetime" 
						#vitalSignDatetime="ngModel" required></p-calendar>
					<p-message *ngIf="f.submitted && vitalSignDatetime.invalid" severity="error" text="Field is required"></p-message>
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="temperature">{{ 'COMMON.TEMPERATURE' | translate }}</label>
					<input type="text" pInputText class="form-control" id="temperature" [(ngModel)]="vitalSign.temperature" 
							name="temperature" #temperature="ngModel">
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="pulse">{{ 'COMMON.PULSE' | translate }}</label>
					<input type="text" pInputText class="form-control" id="pulse" [(ngModel)]="vitalSign.pulse"  
							name="pulse" #pulse="ngModel">
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="respiration">{{ 'COMMON.RESPIRATION' | translate }}</label>
					<input type="text" pInputText class="form-control" id="respiration" [(ngModel)]="vitalSign.respiration"  
							name="respiration" #respiration="ngModel">
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="bloodPressure">{{ 'COMMON.BLOOD_PRESSURE' | translate }}</label>
					<input type="text" pInputText class="form-control" id="bloodPressure" [(ngModel)]="vitalSign.bloodPressure" 
							name="bloodPressure" #bloodPressure="ngModel">
				</div>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="bloodSugar">{{ 'COMMON.BLOOD_SUGAR' | translate }}</label>
					<input type="text" pInputText class="form-control" id="bloodSugar" [(ngModel)]="vitalSign.bloodSugar"  
							name="bloodSugar" #bloodSugar="ngModel">
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="pain">{{ 'COMMON.PAIN' | translate }}</label>
					<input type="text" pInputText class="form-control" id="pain" [(ngModel)]="vitalSign.pain"  
							name="pain" #pain="ngModel">
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="weight">{{ 'COMMON.WEIGHT' | translate }} (pound)</label>
					<input type="text" pInputText class="form-control" id="weight" [(ngModel)]="vitalSign.weight" 
							name="weight" #weight="ngModel" (change)="calculateBMI()">
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="height">{{ 'COMMON.HEIGHT' | translate }} (inches)</label>
					<input type="text" pInputText class="form-control" id="height" [(ngModel)]="vitalSign.height"  
							name="height" #height="ngModel" (change)="calculateBMI()">
				</div>
			</div>
			<div class="ui-grid-col-2 ui-sm-12">
				<div class="form-group">
					<label for="bmi">{{ 'COMMON.BMI' | translate }}</label>
					<br/>
					{{vitalSign.bmi}}
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" *ngIf="admission && admission.id > 0">
		<button type="button" pButton icon="fa fa-refresh" (click)="addNew()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;
		<button pButton icon="fa fa-save" label="{{ 'COMMON.SAVE' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" pButton icon="fa fa-remove" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>
	</div>
</form>