<div role="main" class="main">
	<section
		class="parallax section section-text-light section-parallax section-center mt-0 mb-5"
		data-plugin-parallax data-plugin-options="{'speed': 1.5}"
		data-image-src="assets/images/slides/bg-top.jpg"></section>
	<div class="container">
		<div class="ui-grid-row">
			<div class="row justify-content-center" *ngIf="!started || !poll">
				<section class="call-to-action featured featured-primary mb-5"
					style="border-radius: 8px;">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content" *ngIf="!started && poll.description">
						</div>
						<div class="call-to-action-content" *ngIf="!poll && endNote">
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn" *ngIf="!started && poll">
							<a href="#/vote" (click)="startVote()"
								class="btn btn-lg btn-primary">Demarrer le vote!</a>
						</div>
					</div>
				</section>

			</div>
			<div class="toggle toggle-primary" data-plugin-toggle=""
				style="width: 100%"
				*ngIf="poll && pollQuestion && pollQuestion.id>0">
				<section class="toggle">
					<label>{{title}} : <font color="red"><strong>{{poll&&poll.pollTypeId==1?pollQuestion.position.name:pollQuestion.description}}</strong></font></label>
				</section>
			</div>

			<div class="row justify-content-center"
				*ngIf="pollQuestion&&poll&&pollQuestion.id>0 && poll.pollTypeId==1">
				<div class="col-lg-4 col-sm-12" *ngFor="let pChoice of pollChoices">
					<div
						class="featured-box featured-box-primary featured-box-effect-2"
						style="height: 190px; margin-top: 40px;">
						<div class="box-content"
							style="border-radius: 8px; padding: 30px 30px 10px 30px;">
							<img src="assets/images/members/{{pChoice.user.pic}}"
								class="icon-featured"
								style="border: 2px solid #89b837; margin: -100px 0 -15px;">
							<h4>{{pChoice.user.firstName +' '+pChoice.user.lastName}}</h4>
						</div>
						<div class="row text-left">
							<div class="col-md-8 col-lg-8 ">
								<font size="0.9em" color="#777">{{'Village:
									'+pChoice.user.cityOrigin+', Residence:
									'+pChoice.user.cityResidence+',
									'+pChoice.user.countryResidence.name
									+(pChoice.user.occupation?', Occupation: '+
									pChoice.user.occupation:'')+ (pChoice.user.domain?', Secteur:
									'+pChoice.user.domain.name:'')}} </font>
							</div>
							<div class="col-md-4 col-lg-4 text-right">
								<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary"
									(click)="vote(pChoice)">
									<i class="fa fa-thumbs-up"></i> Vote
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-grid-row"
				*ngIf="pollQuestion&&poll&&pollQuestion.id>0 && poll.pollTypeId==2">
				<div class="row justify-content-center" *ngFor="let pChoice of pollChoices" >
					 
					<div class="col-md-12 col-lg-12 text-left">
					<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary" (click)="vote(pChoice)">
							<i class="fa fa-thumbs-up"></i> Vote
						</button>
						{{pChoice.description}}</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
