
<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="birthReport">
			<p-messages [(value)]="messages"></p-messages>
			<p-fieldset legend="Admission Info">
					<app-visitAdm-lookup (admissionEmit)="lookUpVisitAdm($event)" [originalPage]="'admin/patientSaleDetails'"
						[itemType]="'ADMISSION'" [itemNumberLabel]="'Admission'" [admission]="admission"></app-visitAdm-lookup>
					<p-message *ngIf="f.submitted && !(admission.id > 0)" severity="error" text="Admission is required"></p-message>
			
			</p-fieldset>
			<br/>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="firstName">{{ 'COMMON.FIRST_NAME' | translate }}<font color="red">*</font></label>
						<input type="text" pInputText class="form-control" id="firstName" required
							[(ngModel)]="birthReport.firstName" name="firstName" #firstNameModel="ngModel">
						<p-message *ngIf="f.submitted && firstName.invalid" severity="error" text="Field is required"></p-message>
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="middleName">{{ 'COMMON.MIDDLE_NAME' | translate }}</label>
						<input type="text" pInputText class="form-control" id="middleName" 
							[(ngModel)]="birthReport.middleName" name="middleName" #middleNameModel="ngModel">
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="lastName">{{ 'COMMON.LAST_NAME' | translate }}<font color="red">*</font></label>
						<input type="text" pInputText class="form-control" id="lastName" required
							[(ngModel)]="birthReport.lastName" name="lastName" #lastNameModel="ngModel">
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="birthDatetime">{{ 'COMMON.BIRTH_DATE' | translate }}<font color="red">*</font></label>
						<p-calendar [(ngModel)]="birthReport.birthDatetime" [showTime]="true" required
							name="birthDatetime" #birthDatetime="ngModel"></p-calendar>
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="comments">{{ 'COMMON.COMMENTS' | translate }}</label> 
						<textarea pInputTextarea id="comments" rows="4" cols="40" pInputTextarea maxlength="1000" 
									[(ngModel)]="birthReport.comments" name="comments" #comments="ngModel"> </textarea>						
					</div>
				</div>
			</div>
			<p-fieldset legend="{{ 'COMMON.FATHER' | translate }}">
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label for="fatherFirstName">{{ 'COMMON.FIRST_NAME' | translate }}</label>
							<input type="text" pInputText class="form-control" id="fatherFirstName" required
								[(ngModel)]="birthReport.fatherFirstName" name="fatherFirstName" #fatherFirstNameModel="ngModel">
						</div>
					</div>
					<div class="ui-grid-col-2 ui-sm-12">
						<div class="form-group">
							<label for="fatherMiddleName">{{ 'COMMON.MIDDLE_NAME' | translate }}</label>
							<input type="text" pInputText class="form-control" id="fatherMiddleName"
								[(ngModel)]="birthReport.fatherMiddleName" name="fatherMiddleName" #fatherMiddleNameModel="ngModel">
						</div>
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label for="fatherLastName">{{ 'COMMON.LAST_NAME' | translate }}</label>
							<input type="text" pInputText class="form-control" id="fatherLastName" required
								[(ngModel)]="birthReport.fatherLastName" name="fatherLastName" #fatherLastNameModel="ngModel">
						</div>
					</div>
				</div>
			</p-fieldset>
			
			<p-fieldset legend="{{ 'COMMON.MOTHER' | translate }}">
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label for="motherFirstName">{{ 'COMMON.FIRST_NAME' | translate }}</label>
							<input type="text" pInputText class="form-control" id="motherFirstName" required
								[(ngModel)]="birthReport.motherFirstName" name="motherFirstName" #motherFirstNameModel="ngModel">
						</div>
					</div>
					<div class="ui-grid-col-2 ui-sm-12">
						<div class="form-group">
							<label for="motherMiddleName">{{ 'COMMON.MIDDLE_NAME' | translate }}</label>
							<input type="text" pInputText class="form-control" id="motherMiddleName"
								[(ngModel)]="birthReport.motherMiddleName" name="motherMiddleName" #motherMiddleNameModel="ngModel">
						</div>
					</div>
					<div class="ui-grid-col-4 ui-sm-12">
						<div class="form-group">
							<label for="motherLastName">{{ 'COMMON.LAST_NAME' | translate }}</label>
							<input type="text" pInputText class="form-control" id="motherLastName" required
								[(ngModel)]="birthReport.motherLastName" name="motherLastName" #motherLastNameModel="ngModel">
						</div>
					</div>
				</div>
			</p-fieldset>
	
			<br/>
		</div>	
		
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa fa-refresh" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;
				<button pButton icon="fa fa-save" label="{{ 'COMMON.SAVE' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" pButton icon="fa fa-remove" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>
		</div>
	</div>
</form>