
<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="deathReport">
			<p-messages [(value)]="messages"></p-messages>
			<p-fieldset legend="Admission Info">
				<app-visitAdm-lookup (admissionEmit)="lookUpVisitAdm($event)" [originalPage]="'admin/patientSaleDetails'"
					[itemType]="'ADMISSION'" [itemNumberLabel]="'Admission'" [admission]="admission"></app-visitAdm-lookup>
				<p-message *ngIf="f.submitted && !(admission.id > 0)" severity="error" text="Admission is required"></p-message>
			</p-fieldset>
			<br/>
			<div class="ui-grid-row">
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="deathDatetime">{{ 'COMMON.DEATH_DATETIME' | translate }}<font color="red">*</font></label>
						<p-calendar [(ngModel)]="deathReport.deathDatetime" [showTime]="true" required
							name="deathDatetime" #deathDatetime="ngModel"></p-calendar>
						<p-message *ngIf="f.submitted && deathDatetime.invalid" severity="error" text="Field is required"></p-message>
					</div>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">
					<div class="form-group">
						<label for="comments">{{ 'COMMON.COMMENTS' | translate }}</label> 
						<textarea pInputTextarea id="comments" rows="4" cols="40" pInputTextarea maxlength="1000" 
									[(ngModel)]="deathReport.comments" name="comments" #comments="ngModel"> </textarea>						
					</div>
				</div>
			</div>
	
			<br/>
		</div>	
		
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button type="button" pButton icon="fa fa-refresh" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;
				<button pButton icon="fa fa-save" label="{{ 'COMMON.SAVE' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" pButton icon="fa fa-remove" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>
		</div>
	</div>
</form>