<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-table #dt [value]="purchases" [responsive]="true" selectionMode="single" [(selection)]="selectedPurchase" dataKey="id"
		[scrollable]="true" scrollHeight="300px" [style]="{width:'100%'}"> 
		<ng-template pTemplate="caption">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4 ui-sm-12" style="text-align: left">
					<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
				</div>
				<div class="ui-grid-col-4 ui-sm-12">{{ 'COMMON.LIST' | translate }}</div>
				<div class="ui-grid-col-4 ui-sm-12"></div>
			</div>
	    </ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th *ngFor="let col of cols" [pSortableColumn]="col.field"  [ngStyle]="col.headerstyle">
					{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
				</th>
			</tr>
			<tr>
				<th *ngFor="let col of cols" >
					<input *ngIf="col.field === 'productName' || col.field === 'primaryPurchaserName' || col.field === 'secondaryPurchaserName'" 
						pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'startsWith')" placeholder="Search by Name">
				</th>
			</tr>
		</ng-template> 
		<ng-template pTemplate="body" let-purchase>
			<tr [pSelectableRow]="purchase" [pSelectableRowDblClick]="purchase" (dblclick)="edit(purchase)"  [ngClass]="purchase.status === 1 ? 'cancelled' : null">
				<td *ngFor="let col of cols" [ngStyle]="col.rowstyle">
					<div *ngIf="col.type === 'string'">
						{{purchase[col.field]}}
					</div>
					<div *ngIf="col.type === 'currency'">
						{{purchase[col.field] | currency: 'CFA':'symbol':'1.0-0':translate.currentLang}}
					</div>
					<div *ngIf="col.type === 'integer'">
						{{purchase[col.field] | number:'1.0-0':translate.currentLang}}
					</div>
					<div *ngIf="col.type === 'date'">
						{{purchase[col.field] | date: globalEventsManager.DATE_FORMAT : 'UTC'}}
					</div>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="footer">
			<tr>
				<td rowspan="7" style="font-weight: bold; width: 86%">Totals</td>
				<td [ngStyle]="totalstyle">{{sumTotalAmount | currency: 'CFA':'symbol':'1.0-0':translate.currentLang}}</td>
				<td></td>
			</tr>
    	</ng-template> 
	</p-table>
</div>
