<div class="dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-sales">
                <div class="overview-title">Appointment</div>
                <i class="fa fa-arrow-circle-up"></i>
                <div class="overview-numbers">
                    <strong>Total:   {{appointmentItem.itemTotal}}</strong>
                </div>
                <p-chart type="bar" [data]="appointmentItem.itemData"></p-chart>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-views">
                <div class="overview-title">Admission</div>
                <i class="fa fa-arrow-circle-up"></i>
                <div class="overview-numbers">
                    <strong>Total:   {{admissionItem.itemTotal}}</strong>
                </div>
                <p-chart type="bar" [data]="admissionItem.itemData"></p-chart>
            </div>
        </div>
         <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-users">
                <div class="overview-title">Visit</div>
                <i class="fa fa-arrow-circle-up"></i>
                <div class="overview-numbers">
                    <strong>Total:   {{visitItem.itemTotal}}</strong>
                </div>
                <p-chart type="bar" [data]="visitItem.itemData"></p-chart>
            </div>
        </div>
        
         <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p-panel styleClass="chart" header="Chart">
                <p-chart type="line" [data]="appointmentItem.itemData"></p-chart>
            </p-panel>

         </div>


        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p-panel header="Appointment" styleClass="inventory">
                <p-table [columns]="upcomingAppointmentCols" [value]="upcomingAppointments" 
                    selectionMode="single" dataKey="" [(selection)]="selectedAppointment" [responsive]="true"
                    [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header" let-columns> 
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                <div *ngIf="col.type === 'Date'">
                                    {{rowData[col.field] | date:'dd/MM/yyyy'}} 
                                </div>
                                <div *ngIf="col.type !== 'Date'">
                                    {{rowData[col.field]}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                     <ng-template pTemplate="summary">
                        <tr>
                            <td width="10%">
                                Total
                            </td>
                            <td>
                                {{upcomingAppointments.length}}
                            </td>
                        </tr>     
                    </ng-template>
                </p-table>
            </p-panel>
        </div>
    </div>
</div>
