<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-fieldset legend="{{ 'COMMON.SEARCH_CRITERIA' | translate }}" *ngIf="!isVisitOrAdmissionPage()">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="visitId">{{ 'COMMON.VISIT_ID' | translate }}:</label> 
					<input type="text" pInputText class="form-control" id="visitId"
						 [(ngModel)]="searchCriteria.visitId" name="visit" >
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="patientId">{{ 'COMMON.PATIENT_ID' | translate }}:</label> 
					<input type="text" pInputText class="form-control" id="medicalRecordNumber"
						 [(ngModel)]="searchCriteria.medicalRecordNumber" name="medicalRecordNumber" >
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="lastName">{{ 'COMMON.LAST_NAME' | translate }}:</label> 
					<input type="text" pInputText class="form-control" id="lastName"
						 [(ngModel)]="searchCriteria.lastName" name="lastName" >
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label for="firstName">{{ 'COMMON.FIRST_NAME' | translate }}:</label> 
					<input type="text" pInputText class="form-control" id="firstName"
						 [(ngModel)]="searchCriteria.firstName" name="firstName">
				</div>
			</div>
			
			<div>
				<button pButton icon="fa fa-search" label="{{ 'COMMON.SEARCH' | translate }}" (click)="search()"></button>
			</div>
		</div>
	</p-fieldset>
	<br/>
	<br/>
	<p-table [columns]="cols" [value]="patientSales">
		<ng-template pTemplate="caption">
	        {{ 'COMMON.SALE_LIST' | translate }}
	    </ng-template>
	    <ng-template pTemplate="header" let-columns>
	        <tr>
	            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
	                {{col.header}}
	                <p-sortIcon [field]="col.field"></p-sortIcon>
	            </th>
	            <th>Action</th>
	        </tr>
	    </ng-template>
	    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr>			           
	            <td *ngFor="let col of columns">
	            	<div *ngIf="col.type != 'date'">
	                	{{rowData[col.field]}}
	                </div>
	                <div *ngIf="col.type == 'date'">
	                	{{rowData[col.field]|date:'dd/MM/yyyy hh:mm'}}
	                </div>
	            </td>
	            <td>
	            	<button type="button" pButton icon="fa fa-edit" (click)="edit(rowData.id)"></button>&nbsp;
					<button type="button" pButton icon="fa fa-eraser" (click)="delete(rowData.id)" *ngIf="!isVisitOrAdmissionPage()"></button>
	            </td>
	        </tr>
	    </ng-template>
	</p-table>
</div>
