<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-fieldset legend="Search Criteria">
		<div class="ui-grid-row">
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label i18n="@@requestor" for="requestor">Requestor:</label>
					<p-autoComplete [(ngModel)]="searchCriteria.requestor"
						(onDropdownClick)="employeeDropdown.handleDropdownClick($event)"
						[suggestions]="employeeDropdown.filteredEmployees" [dropdown]="true"
						(completeMethod)="employeeDropdown.filter($event)"
						name="name" field="name" [size]="30" placeholder=""
						[minLength]="1" name="requestor"  #requestor="ngModel">
					</p-autoComplete>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label i18n="@@shipTo" for="shipTo">Ship To:</label>
					<p-autoComplete [(ngModel)]="searchCriteria.shipTo"
						(onDropdownClick)="employeeDropdown.handleDropdownClick($event)"
						[suggestions]="employeeDropdown.filteredEmployees" [dropdown]="true"
						(completeMethod)="employeeDropdown.filter($event)"
						name="name" field="name" [size]="30" placeholder=""
						[minLength]="1" name="shipTo"  #shipTo="ngModel">
					</p-autoComplete>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label i18n="@@supplier" for="supplier">Supplier:</label>
					<p-autoComplete [(ngModel)]="searchCriteria.requestor"
						(onDropdownClick)="supplierDropdown.handleDropdownClick($event)"
						[suggestions]="supplierDropdown.filteredSuppliers" [dropdown]="true"
						(completeMethod)="supplierDropdown.filter($event)"
						name="name" field="name" [size]="30" placeholder=""
						[minLength]="1" name="supplier"  #supplier="ngModel">
					</p-autoComplete>
				</div>
			</div>
			<div class="ui-grid-col-3 ui-sm-12">
				<div class="form-group">
					<label i18n="@@purchaseOrderDate" for="purchaseOrderDate">Order Date:
					</label> <p-calendar [(ngModel)]="searchCriteria.purchaseOrderDate" id="purchaseOrderDate"
								name="purchaseOrderDate" #purchaseOrderDate="ngModel"></p-calendar>
				</div>
			</div>
			<div>
				<button pButton icon="fa fa-search" label="Search" (click)="search()"></button>
			</div>
		</div>
	</p-fieldset>
	<br/>
	<br/>
	<p-table [columns]="cols" [value]="purchaseOrders">
		<ng-template pTemplate="caption">
	        PURCHASE ORDER LIST
	    </ng-template>
	    <ng-template pTemplate="header" let-columns>
	        <tr>
	            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
	                {{col.header}}
	                <p-sortIcon [field]="col.field"></p-sortIcon>
	            </th>
	            <th>Action</th>
	        </tr>
	    </ng-template>
	    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr>			           
	            <td *ngFor="let col of columns">
	            	<div *ngIf="col.type != 'date'">
	                	{{rowData[col.field]}}
	                </div>
	                <div *ngIf="col.type == 'date'">
	                	{{rowData[col.field]|date:'dd/MM/yyyy'}}
	                </div>
	            </td>
	            <td>
	            	<button type="button" pButton icon="fa fa-edit" (click)="edit(rowData.id)"></button>&nbsp;&nbsp;
					<button type="button" pButton icon="fa fa-eraser" (click)="delete(rowData.id)"></button>
	            </td>
	        </tr>
	    </ng-template>
	</p-table>
</div>
