<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="receiveOrder">
		<div class="ui-grid-row">
			<div class="ui-grid-col-5 ui-sm-12">
				<app-purchase_order-lookup (purchaseOrderEmit)="lookUpPurchaseOrder($event)" 
					[originalPage]="'admin/receiveOrderDetails'" [purchaseOrder]="purchaseOrder"></app-purchase_order-lookup>
			</div>
			<div class="ui-grid-col-7 ui-sm-12">
				<div class="ui-grid-col-3 ui-sm-12">
					<div class="form-group">
						<label for="deliveryDate">{{ 'COMMON.DELIVERY_DATE' | translate }}<font color="red">*</font></label>
						<p-calendar [(ngModel)]="receiveOrder.deliveryDate"></p-calendar>
					</div>
				</div>
				<div class="ui-grid-col-9 ui-sm-12">
					<div class="form-group">
						<label for="deliveryNotes"> {{ 'COMMON.NOTES' | translate }}</label> 
						<textarea pInputTextarea id="deliveryNotes" rows="4" cols="40" pInputTextarea maxlength="1000" 
							[(ngModel)]="receiveOrder.deliveryNote" #notes="ngModel"> </textarea>						
					</div>
				</div>
			</div>
		</div>
	</div>
			
	<br/>
		
	<div class="ui-grid-row">
		<div class="ui-grid-col-9 ui-sm-12">					
			<p-table [columns]="orderProductCols" [value]="receiveOrder.receiveOrderProducts">
				<ng-template pTemplate="caption">
			         {{ 'COMMON.PRODUCT_LIST' | translate }}
			    </ng-template>
			    <ng-template pTemplate="header" let-orderProductCols>
			        <tr>
			            <th *ngFor="let col of orderProductCols" [pSortableColumn]="col.field">
			                {{col.header}}
			                <p-sortIcon [field]="col.field"></p-sortIcon>
			            </th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-rowData let-columns="columns">
			        <tr>			           
			            <td *ngFor="let col of columns" [pEditableColumn]="rowData" [pEditableColumnField]="rowData[col.field]">
			                <p-cellEditor *ngIf="col.field != 'quantity'">
			                    <ng-template pTemplate="input">
			                        {{rowData[col.field]}}
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{rowData[col.field]}}
			                    </ng-template>
			                </p-cellEditor>
			      			<p-cellEditor *ngIf="col.field == 'quantity'">
			                    <ng-template pTemplate="input">
			                        <input type="text" [(ngModel)]="rowData[col.field]" [disabled]="col.isDisabled">
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{rowData[col.field]}}
			                    </ng-template>
			                </p-cellEditor>
			            </td>
			        </tr>
			    </ng-template>
			</p-table>
		</div>
		
		<br/>
	</div>
	
	<br/>
	<br />
	<div>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa fa-close" (click)="delete()" label=" {{ 'COMMON.DELETE' | translate }}"></button>&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-check" (click)="save(1)" label=" {{ 'COMMON.SAVE' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" pButton icon="fa fa-check" (click)="save(2)" label=" {{ 'COMMON.DONE' | translate }}"></button>
		</div>
	</div>
</div>

