        <app-admin-header></app-admin-header>

        <div class="ui-grid-row"> 
		<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
			
			<p-tabView (onChange)="onTabChange($event)"> 
                <p-tabPanel header="{{'COMMON.COMPANY' | translate}}">
			    	<div *ngIf="activeTab == 0" class="ui-grid-row">
                        <p-tabView [activeIndex]="activeCompanyTab" (onChange)="onCompanyTabChange($event)">
                            <p-tabPanel header="{{'COMMON.DETAILS' | translate}}">
                                <app-company-details></app-company-details>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.LIST' | translate}}">
                                <app-company-list (companyIdEvent)="onCompanySelected($event)"></app-company-list>
                            </p-tabPanel>
                        </p-tabView>
				    </div>
			    </p-tabPanel>
			 	<p-tabPanel header="{{'COMMON.SECTION' | translate | uppercase}}">
			    	<div *ngIf="activeTab == 1" class="ui-grid-row">
				        <app-section-details></app-section-details>
				        <br/> 
				        <br/>
				        <app-section-list (sectionIdEvent)="onSectionSelected($event)"></app-section-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="{{'COMMON.SECTION_ITEM' | translate}}">
			    	<div *ngIf="activeTab == 2" class="ui-grid-row">
				        <app-sectionItem-details></app-sectionItem-details>
				        <br/> 
				        <br/>
				        <app-sectionItem-list (sectionItemIdEvent)="onSectionItemSelected($event)"></app-sectionItem-list>
				    </div>
                </p-tabPanel>
                <p-tabPanel header="{{'COMMON.EMPLOYEE' | translate}}">
			    	<div *ngIf="activeTab == 3" class="ui-grid-row">
                        <p-tabView [activeIndex]="activeEmployeeTab" (onChange)="onEmployeeTabChange($event)">
                            <p-tabPanel header="{{'COMMON.DETAILS' | translate}}">
                                <app-employee-details (employeeSaveEvent)="onEmployeeSaved($event)"></app-employee-details>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.LIST' | translate}}">
                                <app-employee-list (employeeIdEvent)="onEmployeeSelected($event)"></app-employee-list>
                            </p-tabPanel>
                        </p-tabView>
				    </div>
                </p-tabPanel>
                <p-tabPanel header="{{'COMMON.MESSAGES' | translate}}">
			    	<div *ngIf="activeTab == 4" class="ui-grid-row">
                        <app-contact-details></app-contact-details>
                        <br/>
                        
                        <app-contact-list (contactUsMessageIdEvent)="onContactSelected($event)"></app-contact-list>
				    </div>
                </p-tabPanel>
                <p-tabPanel header="{{'COMMON.SLIDER' | translate | uppercase}}">
			    	<div *ngIf="activeTab == 5" class="ui-grid-row">
                        <p-tabView [activeIndex]="activeSliderTab" (onChange)="onSliderTabChange($event)">
                            <p-tabPanel header="{{'COMMON.SLIDER_IMAGE' | translate | uppercase}}" uppercase>
                                <app-slider-details></app-slider-details>
                                <br/>
                        
                                <app-slider-list (sliderIdEvent)="onSliderSelected($event)"></app-slider-list>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.SLIDER_TEXT' | translate | uppercase}}">
                                <app-sliderText-details></app-sliderText-details>
                                <br/>
                        
                                <app-sliderText-list (sliderTextIdEvent)="onSliderTextSelected($event)"></app-sliderText-list>
                            </p-tabPanel>
                        </p-tabView>
				    </div>
                </p-tabPanel>
                <p-tabPanel header="{{'COMMON.STOCK' | translate | uppercase}}">
			    	<div *ngIf="activeTab == 6" class="ui-grid-row">
                        <p-tabView [activeIndex]="activeStockTab" (onChange)="onStockTabChange($event)">
                            <p-tabPanel header="{{'COMMON.FUND' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 0" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-fund-list (fundIdEvent)="onFundSelected($event)"></app-fund-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-fund-details (fundSaveEvent)="onFundSaved($event)"></app-fund-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.PAYMENT_TYPE' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 1" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'com.wack.model.stock.PaymentType')"></app-reference-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-reference-details  (referenceSaveEvent)="onReferenceSaved($event)"></app-reference-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.QUOTE' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 2" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-quote-list (quoteIdEvent)="onQuoteSelected($event)"></app-quote-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-quote-details (quoteSaveEvent)="onQuoteSaved($event)"></app-quote-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.LABOR' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 3" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-contractlabor-list (contractLaborIdEvent)="onContractLaborSelected($event)"></app-contractlabor-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-contractlabor-details (contractLaborSaveEvent)="onContractLaborSaved($event)"></app-contractlabor-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.PAYMENT' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 4" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-payment-list [paymentGroup]="'LABOR'" (paymentIdEvent)="onPaymentSelected($event)"></app-payment-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-payment-details [paymentGroup]="'LABOR'" (paymentSaveEvent)="onPaymentSaved($event)"></app-payment-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.SALARY' | translate | uppercase}}" uppercase>
                                <div *ngIf="!tokenStorage.isAdmin()"><font color="red">{{'MESSAGE.NOT_AUTHORIZED' | translate}}</font></div>
                                <div *ngIf="activeStockTab === 5 && tokenStorage.isAdmin()" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-payment-list [paymentGroup]="'SALARY'" (paymentIdEvent)="onPaymentSelected($event)"></app-payment-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-payment-details [paymentGroup]="'SALARY'" (paymentSaveEvent)="onPaymentSaved($event)"></app-payment-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.SUPPLIER' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 6" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-supplier-list (supplierIdEvent)="onSupplierSelected($event)"></app-supplier-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-supplier-details  (supplierSaveEvent)="onSupplierSaved($event)"></app-supplier-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.PRODUCT' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 7" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-reference-list (referenceIdEvent)="onReferenceSelected($event, 'com.wack.model.stock.Product')"></app-reference-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-reference-details  (referenceSaveEvent)="onReferenceSaved($event)"></app-reference-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="{{'COMMON.PURCHASE' | translate | uppercase}}" uppercase>
                                <div *ngIf="activeStockTab === 8" class="ui-grid-row">
                                    <div class="ui-grid-col-9 ui-sm-12">
                                        <app-purchase-list (purchaseIdEvent)="onPurchaseSelected($event)"></app-purchase-list>
                                    </div>
                                    <div class="ui-grid-col-3 ui-sm-12">
                                        <app-purchase-details (purchaseSaveEvent)="onPurchaseSaved($event)"></app-purchase-details>
                                    </div>
                                </div>
                            </p-tabPanel>
                        </p-tabView>
				    </div>
                </p-tabPanel>

			</p-tabView>
        </div>
    </div>

 