<!DOCTYPE html>
<html>

    <head>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>PrimeNG - California - Landing Page</title>

        <link id="theme-css" rel="stylesheet" type="text/css" href="assets/theme/theme-blue.css">
        <link id="layout-css" rel="stylesheet" type="text/css" href="assets/layout/css/layout-blue.css">
        <link rel="stylesheet" type="text/css" href="assets/pages/primeng.min.css">
    </head>

    <body class="landing-body">
        <div class="landing-wrapper">
            <app-web-header></app-web-header>
            <div id="about" class="features">
                <h2>About Us</h2>
                <div class="ui-grid-row">
					<div class="ui-grid-col-4 ui-sm-12">	
						<div class="ui-g-12 ui-lg-3">
                            <img src="assets/docs/Section/{{aboutUsSection.fileLocation}}" alt="" />
                        </div>
                        <div class="ui-g-12 ui-lg-9">
                            <h3>{{aboutUsSection.title}}</h3>
                            <p>{{aboutUsSection.description}} </p>
                            <span class="learn-more">Learn More</span>
                            <i class="fa fa-arrow-right"></i>
                        </div>
					</div>
					<div class="ui-grid-col-8 ui-sm-12">	
		                <div class="ui-g" *ngFor="let aboutUsItem of aboutUsItems">
		                    <div class="ui-g-12 ui-md-6">
		                        <div class="ui-g-12 ui-lg-3">
		                            <img src="assets/docs/SectionItem/{{aboutUsItem.fileLocation}}" alt="" />
		                        </div>
		                        <div class="ui-g-12 ui-lg-9">
		                            <h3>{{aboutUsItem.title}}</h3>
		                            <p>{{aboutUsItem.description}} </p>
		                            <span class="learn-more">Learn More</span>
		                            <i class="fa fa-arrow-right"></i>
		                        </div>
		                    </div>	                    
		                </div>
		             </div>
		         </div>
            </div>

            <div id="service" class="news">
                <h2>Services</h2>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6 ui-lg-3" *ngFor="let serviceItem of serviceItems">
                        <div class="ui-g-12 news-icon">
                            <img src="assets/docs/SectionItem/{{serviceItem.fileLocation}}" alt="" />
                        </div>
                        <div class="ui-g-12">
                            <h3>{{serviceItem.title}}</h3>
                            <p>{{serviceItem.description}}</p>
                            <a href="#">
                                <span class="learn-more">Learn More</span>
                            </a>
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            
           <div id="doctor" class="news">
           		<h2>Doctors</h2>
                <div class="ui-g">
            		<div class="ui-g-12 ui-md-6 ui-lg-3" *ngFor="let doctor of doctorDropdown.doctors">
            		<div class="ui-g-12">
			            <p-panel header={{doctor.user.userGroup.name}} >
	                        <img src="assets/images/User/{{doctor.user.picture}}" alt="california-layout" />
	                        
                            <h3 class="team-member">{{doctor.user.firstName}} {{doctor.user.lastName}}</h3>
                            <p class="team-member-role">{{doctor.designation}} - {{doctor.specialist}}</p>
	                       
			            </p-panel>
			         </div>
		        	</div>
            	</div>
           </div>

		  <div id="department" class="news">
                <h2>Departments</h2>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6 ui-lg-3" *ngFor="let department of departmentDropdown.departments">
                        <div class="ui-g-12 news-icon">
                            <img src="assets/docs/Department/{{department.fileLocation}}" alt="" />
                        </div>
                        <div class="ui-g-12">
                            <h3>{{department.name}}</h3>
                            <p>{{department.description}}</p>
                            <a href="#">
                                <span class="learn-more">Learn More</span>
                            </a>
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <app-web-footer></app-web-footer>
            
        </div>
    </body>
</html>


