<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="sectionItem">
		<p-messages [(value)]="messages"></p-messages>
		<div class="ui-grid-row">
			<div class="ui-grid-col-5 ui-sm-12">		
				<div class="form-group">
					<label for="section">{{ 'COMMON.SECTION' | translate }}</label>
					<p-autoComplete [(ngModel)]="sectionItem.section"
						(onDropdownClick)="sectionDropdown.handleDropdownClick($event)"
						[suggestions]="sectionDropdown.filteredSections" [dropdown]="true"
						id="section" (completeMethod)="sectionDropdown.filter($event)"
						name="section" field="sectionLabel" [size]="30" placeholder=""
						[minLength]="1"></p-autoComplete>
				</div>
            </div>
            <div class="ui-grid-col-2 ui-sm-12">

            </div>
			<div class="ui-grid-col-5 ui-sm-12">
				<div class="form-group">		
					<label for="name">{{ 'COMMON.TITLE' | translate }}</label>
					<input pInputText id="title" [(ngModel)]="sectionItem.title" name="name" #title="ngModel" required />
					<p-message *ngIf="f.submitted && title.invalid" severity="error" text="Field is required"></p-message>
				</div>
            </div>
        </div>
        <div class="ui-grid-row">
			<div class="ui-grid-col-5 ui-sm-12">
				<div class="form-group">		
					<label for="description">{{ 'COMMON.DESCRIPTION' | translate }}</label>
					<textarea pInputTextarea id="description"
							[(ngModel)]="sectionItem.description" name="description" #description="ngModel"> </textarea>
				</div>
            </div>
            <div class="ui-grid-col-2 ui-sm-12">

            </div>
            <div class="ui-grid-col-5 ui-sm-12">
				<div class="ui-grid-col-2">
					<label for="picture">{{ 'COMMON.PICTURE' | translate }}</label>
                    <img class="thumb" src="assets/docs/SectionItem/{{sectionItem.fileLocation}}" alt="" class="img-fluid" />
                    <img class="thumb" src="{{url}}" alt="" class="img-fluid" />
				</div>
				<div class="ui-grid-col-12 ui-sm-12">
					<div class="form-group">
                        <input type="file" (change)="readUrl($event)" [attr.multiple]="null" name="picture" #picture>
					</div>
				</div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-5 ui-sm-12">
                <p-radioButton name="language" value="EN" label="English" [(ngModel)]="sectionItem.language"
                        #language="ngModel" required></p-radioButton>
                <p-radioButton name="language" value="FR" label="French" [(ngModel)]="sectionItem.language"
                        #language="ngModel" required ></p-radioButton>
                <p-message *ngIf="f.submitted && language.invalid" severity="error" text="Field is required"></p-message>
            </div>
            <div class="ui-grid-col-2 ui-sm-12">
            </div>
			<div class="ui-grid-col-5 ui-sm-12">
				<p-radioButton name="status" value="0" label="Actif" [(ngModel)]="sectionItem.status"
					name="status" #status="ngModel" required></p-radioButton>
				<p-radioButton name="status" value="1" label="Inactif" [(ngModel)]="sectionItem.status"
					name="status" #status="ngModel" required ></p-radioButton>
				<p-message *ngIf="f.submitted && status.invalid" severity="error" text="Field is required"></p-message>
			</div>
		</div>
	</div>
	<br />
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}"></button>&nbsp;&nbsp;
        <button pButton icon="fa fa-check"  label="{{ 'COMMON.SAVE' | translate }}"></button>
	</div>
</form>	
